gameplay.json
tracking*.json
*.json.json
CLAUDE.md
test.html
test.php
*.log
.fiveserverrc
includes/files/game/*
includes/files/game/*.*
includes/files/player/*
includes/files/player/*.*
includes/json/data/dataGame.*
includes/json/data/dataPlayer.*
