gameplay.json
tracking*.json
*.json.json
CLAUDE.md
test.html
test.php
*.log
.fiveserverrc
notes.txt

includes/json/data/dataGame.*
includes/json/data/dataPlayer.*

includes/files/player/*
!includes/files/player/.gitkeep
includes/files/game/*
!includes/files/game/archive/
includes/files/game/archive/*
!includes/files/game/.gitkeep
!includes/files/game/archive/.gitkeep
