

  <div class="full-image-layer" onclick="window[ appAlias ].methods.cCloseFullImage()" style="display: none;"></div>
  <div class="full-image" onclick="window[ appAlias ].methods.cCloseFullImage()" style="display: none;"></div>
  </div>
</body>
</html>