  <div id="game-message-layer" class="hidden">
    <div id="game-message-content"></div>
    <input type="text" name="new-gamplay-message" id="new-game-message" />
    <button type="button" class="new-gamplay-message-button success" onclick="javascript: window[ appAlias ].methods.gameplay.sendNewMessage();">
      <img src="includes/images/icon-message.png" />
    </button>
  </div>
  <div class="full-image-layer" onclick="window[ appAlias ].methods.cCloseFullImage()" style="display: none;"></div>
  <div class="full-image" onclick="window[ appAlias ].methods.cCloseFullImage()" style="display: none;"></div>
  </div>
  <script>if("serviceWorker" in navigator) {  navigator.serviceWorker.register("includes/js/sw.js", { scope: "includes/js/" });}</script>
</body>
</html>