    <div class="full-image-layer" onclick="Utils.closeFullImage();" style="display: none;"></div>
    <div class="full-image" onclick="Utils.closeFullImage();" style="display: none;"></div>
  </div>
  <script type="text/javascript">
    ( function() {
      if( 'serviceWorker' in navigator ) navigator.serviceWorker.register( 'includes/js/sw.js', { scope: 'includes/js/' } );
      return;
    } )();
  </script>
</body>
</html>