<input type="hidden" name="resetForm" value="1" />
<div class="content-container first-child pulse-container">
  <h1 class="align-left float-left">Archiv</h1>
  <div class="align-right">
    <button type="button" class="warning w-140 event-link" data-link="index.php?view=player">Zurück</button>
  </div>
</div>

<div id="content-container-game-archive"></div>

<script src="includes/js/geoMaps.js"></script>

<script type="text/javascript">
  ( function() {
    window[ appAlias ].objects.game = new Game();
    window[ appAlias ].objects.game.getGameArchiveList();
    return;
  } )();
</script>
