<script>
  window[ appAlias ].fields = {{Game::fields}};
</script>
<script src="includes/libs/leaflet/leaflet.js"></script>
<script src="includes/js/geoMaps.js"></script>

<form>
  <input type="hidden" name="resetForm" value="1" />
  <div class="content-container first-child" >
    <h1 class="align-left float-left">Mein Game</h1>
    <div class="align-right">
      <button type="button" class="warning w-140 event-link" data-link="index.php?view=player" />Zurück</button>
    </div>
  </div>

  <div class="content-container align-left">
    <h2 class="align-left mb-15">Spiel Informationen</h2>
    <label class="minw-200" for="name">Name des Spiels*</label>
    <input autocomplete="name" class="mb-10 mt-5 w-350" type="text" name="name" id="name" placeholder="Eingabe Name des Spiels" value="{{Game::name}}" />
    <label class="minw-200" for="title">Titel des Spiels*</label>
    <input autocomplete="title" class="mb-10 mt-5 w-350" type="text" name="title" id="title" placeholder="Eingabe Titel des Spiels" value="{{Game::title}}" />
    <label class="minw-200" for="description">Beschreibung</labelp>
    <input autocomplete="description" class="mb-10 mt-5 w-350" type="text" name="description" id="description" placeholder="Eingabe Beschreibung" value="{{Game::description}}" />
  </div>

  <div class="content-container align-left">
    <h2 class="align-left float-left mt-5">Spieler*</h2>
    <input type="text" class="w-350 mr-10 mt-15 mb-15" name="search-player-field" id="search-player-field" />
    <p class="mb-10"><button type="button" class="event-add-player-to-game success w-140" id="event-add-player-to-game">Spieler hinzufügen</button></p>
  </div>

  <div id="game-content-container-player"></div>

  <div class="content-container align-left">
    <h2 class="align-left float-left mt-5">Jäger*</h2>
    <input type="text" class="w-350 mr-10 mt-15 mb-15" name="search-hunter-field" id="search-hunter-field" />
    <p class="mb-10"><button type="button" class="event-add-hunter-to-game success w-140" id="event-add-hunter-to-game">Jäger hinzufügen</button></p>
  </div>

  <div id="game-content-container-hunter"></div>

  <div class="content-container align-left">
    <h2 class="align-left float-left mt-5">Spielleitung</h2>
    <input type="text" class="w-350 mr-10 mt-15 mb-15" name="search-management-field" id="search-management-field" />
    <p class="mb-10"><button type="button" class="event-add-management-to-game success w-140" id="event-add-management-to-game">Leitung hinzufügen</button></p>
  </div>

  <div id="game-content-container-management"></div>

  <div class="content-container align-left">
    <h2 class="align-left mb-15">Spiel Einstellungen</h2>
    <label class="minw-200" for="start">Start des Spiels*</label>
    <input class="mb-10 mt-5 w-350" type="datetime-local" name="start" id="start" placeholder="Eingabe Start des Spiels" value="{{Game::start}}" />
    <label class="minw-200" for="duration">Dauer des Spiels*</label>
    <input class="mb-10 mt-5 w-350" type="number" name="duration" id="duration" placeholder="Eingabe Spieldauer in Stunden" value="{{Game::duration}}" />
    <label class="minw-200" for="trackInterval">Tracking Intervall*</label>
    <input class="mb-10 mt-5 w-350" type="number" name="trackInterval" id="trackInterval" placeholder="Eingabe Tracking Intervall in Sekunden" value="{{Game::trackInterval}}" />
    <label class="minw-200" for="pingInterval">Silent Hunt Intervall*</label>
    <input class="mb-10 mt-5 w-350" type="number" name="pingInterval" id="pingInterval" placeholder="Eingabe Silent Hunt Interv. in Minuten" value="{{Game::pingInterval}}" />
    <label class="minw-200" for="speedPingInterval">Speed Hunt Intervall*</label>
    <input class="mb-10 mt-5 w-350" type="number" name="speedPingInterval" id="speedPingInterval" placeholder="Eingabe Speed Hunt Interv. in Minuten" value="{{Game::speedPingInterval}}" />
    <label class="minw-200" for="speedPingCount">Anzahl Speed Hunt Pings*</label>
    <input class="mb-10 mt-5 w-350" type="number" name="speedPingCount" id="speedPingCount" placeholder="Eingabe Speed Hunt Pings Anzahl" value="{{Game::speedPingCount}}" />
    <label class="minw-200" for="playingFieldSize">Spielfeld Größe*</plabel>
    <input class="mb-10 mt-5 w-350 align-right" type="number" name="playingFieldSize" id="playingFieldSize" placeholder="Eingabe Spielfeldgröße in Meter" value="{{Game::playingFieldSize}}" />
    <label class="minw-200" for="playingFieldCenterPosition">Spielfeld Mittelpunkt*</plabel>
    <input class="pointer disabled mb-10 mt-5 w-350 align-right event-open-map-layer" type="text" name="playingFieldCenterPosition" id="playingFieldCenterPosition" placeholder="Klick für den Spielfeld Mittelpunkt" value="{{Game::playingFieldCenterPosition}}" />
    <label class="minw-200" for="startPosition">Start Position*</label>
    <input class="pointer disabled mb-10 mt-5 w-350 align-right event-open-map-layer" type="text" name="startPosition" id="startPosition" placeholder="Klick für Start Position" value="{{Game::startPosition}}" />
    <label class="minw-200" for="exitPosition">Exit Position*</plabel>
    <input class="pointer disabled mb-10 mt-5 w-350 align-right event-open-map-layer" type="text" name="exitPosition" id="exitPosition" placeholder="Klick für Exit Position" value="{{Game::exitPosition}}" />

    <label class="minw-200" for="showPlayer">Andere Spiele anzeigen*</label>
    <select class="mb-10 mt-5 w-375 align-right" name="showPlayer" id="showPlayer">
      <option value="{{Game::showPlayer}}">{{Translate::Game::showPlayer}}</option>
      <option value="1">Ja</option>
      <option value="0">Nein</option>
    </select>
    <label class="minw-200" for="showNames">Spielernamen anzeigen*</label>
    <select class="mb-10 mt-5 w-375 align-right" name="showNames" id="showNames">
      <option value="{{Game::showNames}}">{{Translate::Game::showNames}}</option>
      <option value="1">Ja</option>
      <option value="0">Nein</option>
    </select>
  </div>

  <div id="game-content-container"></div>

  <div class="align-left">
    <button type="button" disabled="disabled" id="event-save-new-game" class="submit primary event-save-new-game w-140">Spiel speichern</button>
  </div>
</form>

<div id="info-layer-map" class="hidden">
  <div id="info-layer-map-close-button" class="pointer bold" onclick="javascript: window[ appAlias ].methods.gameplay.cMapInfoLayerClose();">
    <svg width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="cursor: pointer;">
      <circle cx="12" cy="12" r="10" />
      <line x1="15" y1="9" x2="9" y2="15" />
      <line x1="9" y1="9" x2="15" y2="15" />
    </svg>
  </div>
  <div id="map"></div>
</div>
