<script>
  window[ appAlias ].playerId = '{{Game::playerId}}';
</script>
<input type="hidden" name="resetForm" value="1" />
<div id="map"></div>
<script src="includes/libs/leaflet/leaflet.js"></script>
<script src="includes/js/geoTracking.js"></script>
<script src="includes/js/geoMaps.js"></script>
<script src="includes/js/gameplay.js"></script>

<div class="game-menu-top">

</div>

<div class="game-menu-bottom">

</div>




















