<script type="text/javascript">
  window[ appAlias ].gameImages = {{Game::images}};
  window[ appAlias ].gameplayData = {{Gameplay::gameplayData}};
</script>

<input type="hidden" name="resetForm" value="1" />
<div class="content-container first-child" >
  <h1 class="align-left float-left">Dashboard</h1>
  <div class="align-right">
    <button type="button" class="warning w-140 event-link" data-link="index.php?view=player" />Zurück</button>
  </div>
</div>

<div class="content-container">
  <h2 class="align-left mb-15">Spiel Informationen</h2>
  <table class="w-100p">
    <tr>
      <td class="align-top mr-15" style="width: 195px;">
        <img src="includes/files/game/{{Game::id}}/{{Game::avatar}}" class="c-dashboard-player-image my-account-image pointer" id="avatar" />
        <input id="avatar-upload" type="file" name="pictures[]">
      </td>
      <td class="align-top">
        <p class="bold mb-10">{{Game::name}}</p>
        <p>{{Game::title}}</p>
        <p>{{Game::description}}</p>
        <p class="bold mt-5">Start: <span class="js-calc js-calc-datetime">{{Game::start}}</span></p>
        <p>Dauer: {{Game::duration}} Stunden</p>
        <button type="button" class="w-160 mt-10 info" onclick="javascript: window[ appAlias ].methods.cStartGame( this );">Spiel spielen</button>
      </td>
    </tr>
  </table>
  <input type="hidden" name="game-id" value="{{Game::id}}">

</div>

<div class="content-container minh-40">
  <h2 class="align-left float-left mt-5">Spieler</h2>
</div>
<div id="game-content-container-player"></div>

<div class="content-container minh-40">
  <h2 class="align-left float-left mt-5">Jäger</h2>
</div>
<div id="game-content-container-hunter"></div>

<div class="content-container minh-40">
  <h2 class="align-left float-left mt-5">Spielleitung</h2>
</div>
<div id="game-content-container-management"></div>

<div class="content-container">
  <h2 class="align-left mb-15">Spiel Einstellungen</h2>
  <table class="w-100p" cellspacing="0">
    <tr class="background-alternate">
      <td class="pl-7" style="width: 170px;">Start des Spiels:</td>
      <td class="align-right"><span class="js-calc js-calc-datetime">{{Game::start}}</span> Uhr</td>
      <td class="pr-7"></td>
    </tr>
    <tr>
      <td class="pl-7">Dauer des Spiels:</td>
      <td class="align-right">{{Game::duration}}</td>
      <td class="align-right pl-10 pr-7"> Stunden</td>
    </tr>
    <tr class="background-alternate">
      <td class="pl-7">Tracking Intervall:</td>
      <td class="align-right">{{Game::trackInterval}}</td>
      <td class="align-right pl-10 pr-7"> Sekunden</td>
    </tr>
    <tr>
      <td class="pl-7">Silent Hunt Intervall:</td>
      <td class="align-right">{{Game::pingInterval}}</td>
      <td class="align-right pl-10 pr-7"> Minuten</td>
    </tr>
    <tr class="background-alternate">
      <td class="pl-7">Speed Hunt Intervall:</td>
      <td class="align-right">{{Game::speedPingInterval}}</td>
      <td class="align-right pl-10 pr-7"> Minuten</td>
    </tr>
    <tr>
      <td class="pl-7">Spielfeld Größe:</td>
      <td class="align-right">{{Game::playingFieldSize}}</td>
      <td class="align-right pl-10 pr-7"> Meter</td>
    </tr>
    <tr class="background-alternate">
      <td class="pl-7">Spielfeld Position:</td>
      <td class="align-right">{{Game::playingFieldCenterPosition}}</td>
      <td class="pr-7"></td>
    </tr>
    <tr>
      <td class="pl-7">Start Position:</td>
      <td class="align-right">{{Game::startPosition}}</td>
      <td class="pr-7"></td>
    </tr>
    <tr class="background-alternate">
      <td class="pl-7">Exit Position:</td>
      <td class="align-right">{{Game::exitPosition}}</td>
      <td class="pr-7"></td>
    </tr>
    <tr>
      <td class="pl-7">Mitspieler anzeigen:</td>
      <td class="align-right">{{Translate::Game::showPlayer}}</td>
      <td class="pr-7"></td>
    </tr>
    <tr class="background-alternate">
      <td class="pl-7">Spielernamen anzeigen:</td>
      <td class="align-right">{{Translate::Game::showNames}}</td>
      <td class="pr-7"></td>
    </tr>
  </table>
</div>
<div class="content-container minh-30">
  <h2 class="align-left">Statistiken</h2>
</div>
<div class="player-dashboard-container"></div>

<div class="content-container mt-10">
  <h2 class="mb-15 align-left float-left">Bilder vom Spiel</h2>
  <div class="align-right">
    <button type="button" id="event-game-images-upload-button" class="submit primary w-140 mb-20">Bild hinzufügen</button>
    <input id="game-images-upload" type="file" name="pictures[]">
  </div>
  <div id="game-images-content-container"></div>
</div>

<button id="geo-test-btn" style="padding: 20px; font-size: 20px;">Standort freigeben</button>

<script>
  document.getElementById('geo-test-btn').addEventListener('click', () => {
    console.log("Button geklickt. Starte GPS...");
    navigator.geolocation.getCurrentPosition(
      (pos) => { alert(`Erfolg! Lat: ${pos.coords.latitude}`); },
      (err) => { alert(`Fehler: ${err.message} (Code: ${err.code})`); },
      { enableHighAccuracy: true, timeout: 5000 }
    );
  });
</script>

<script>
  window[ appAlias ].systemRole = '{{Player::role}}';
  window[ appAlias ].methods.cAddGameImagesContent();
  window[ appAlias ].methods.cAddGameplayDataToTemplate();
</script>

<script src="includes/js/statistics.js"></script>
<script>
  window.addEventListener( 'load', function() {
    window[ appAlias ].methods.statistics.getGameStatistics();
    return;
  } );
</script>
