<script>
  window[ appAlias ].playerId     = '{{Game::playerId}}';
  window[ appAlias ].gameSettings = {{Gameplay::gameSettings}};
</script>
<input type="hidden" name="resetForm" value="1" />
<div id="map"></div>
<script src="includes/libs/leaflet/leaflet.js"></script>
<script src="includes/js/geoMaps.js"></script>
<script src="includes/js/gameplay.js"></script>

<div class="game-menu-top">
  <div id="game-state-icon-container" class="pointer" onclick="javascript: window[ appAlias ].methods.gameplay.checkSystemMessages();">
    <img id="icon-game-state-stop" class="icon-game-state-stop" src="includes/images/icon-stop.png" alt="Spiel läuft nicht" />
  </div>
  <div id="game-scrolling-info-text-container">
    <div id="game-scrolling-info-text"></div>
  </div>
</div>

<div class="game-menu-bottom">
  <img class="pointer icon-game-reload icons-gamplay-menu-bottom" src="includes/images/icon-reload.png" alt="Seite neu laden" onclick="javascript: window.location.reload();" />
  <img class="pointer icon-game-camera icons-gamplay-menu-bottom" src="includes/images/icon-camera.png" alt="Bild speichern" onclick="javascript: document.querySelector('#game-images-upload').click();" />
  <img class="pointer icon-game-message icons-gamplay-menu-bottom" src="includes/images/icon-message.png" alt="Messages" onclick="javascript: window[ appAlias ].methods.gameplay.showMessageLayer()" />
  <img class="icon-new-message hidden" src="includes/images/icon-new-message.png" alt="Neue Nachricht" />
  <img class="pointer icon-game-back icons-gamplay-menu-bottom" src="includes/images/icon-back.png" alt="Zurück zum Profil" onclick="javascript: window.location.href='?view=player';" />
  <input id="game-images-upload" type="file" name="pictures[]">
</div>

<div id="game-capture-container" class="hidden">
  <div id="game-capture-hunter-container"></div>
  <button onclick="javascript: window[ appAlias ].methods.gameplay.sendCaptured();" id="game-capture-ok-button" type="button" class="danger">✔ Gefangen genommen</button>
</div>

<div id="game-system-message-container" class="hidden">
  <div id="game-system-messages"></div>
  <button onclick="javascript: window[ appAlias ].methods.gameplay.closeSystemMessagesLayer();" id="game-system-messages-ok-button" type="button" class="success">✔ Gelesen</button>
</div>
