<div class="spacer-login-top">
  <form>
    <div class="content-container login-box pulse-container">
      <img src="includes/images/favicons/friendshunt-app-icon-192x192.png" class="friendshunt-login-logo" alt="Friends-Hunt Logo" />
      <h2>{{default::appName}} Login</h2>
      <label class="w-200 m-auto block mt-15 mb-5" for="name">Spieler E-Mail Adresse</label>
      <input type="email" name="name" autocomplete="email" id="name" class="w-200 mb-10" placeholder="Eingabe E-Mail Adresse" />
      <label class="w-200 m-auto block mb-5" for="password">Password</label>
      <input type="password" autocomplete="off" name="password" id="password" class="w-200 mb-15" placeholder="Eingabe Passwort" />
      <p class="mt-15"><button type="button" class="success submit mb-10 w-140 event-login" disabled="disabled">Anmelden</button></p>
      <p><button type="button" class="warning w-140 mb-10 event-link" data-link="index.php?view=register">Registrieren</button></p>
      <p><button type="button" class="info w-140 mb-10 app-install-button" disabled="disabled">App installieren</button></p>
      <p class="mb-50"><button type="button" class="primary w-140 mb-20 event-link" data-link="index.php?view=concept">Hilfe</button></p>
    </div>
  </form>
</div>

<script type="text/javascript">
  ( function() {
    window[ appAlias ].objects.player = new Player();
    return;
  } )();
</script>
