<script type="text/javascript">
  window[ appAlias ].games      = {{Player::gameObjects}};
  window[ appAlias ].gameFields = {{Game::gameFields}};
</script>

<div class="content-container first-child" >
  <h1 class="align-left">Mein Account</h1>
</div>
<div class="content-container" >
  <h2 class="align-left">Meine Daten</h2>
  <table class="c-info-table mt-20" cellspacing="0">
    <tr>
      <td class="align-top">
        <p class="bold mb-5">{{Player::name}}</p>
        <p>{{Player::email}}</p>
        <p>{{Translate::Player::role}}</p>
        <p>{{Player::title}}</p>
        <p>{{Player::description}}</p>
        <p><button data-link="index.php?view=playerEdit" type="button" class="primary event-link mt-10 w-160">Anpassen</button></p>
        <p class="hidden" id="new-player-button-container"><button data-link="index.php?view=playerNew" type="button" class="info event-link mt-5 w-160">Spieler anlegen</button></p>
        <p class="hidden" id="player-list-button-container"><button data-link="index.php?view=playerList" type="button" class="warning event-link mt-5 w-160">Spielerliste</button></p>
        <p class="hidden" id="game-archive-button-container"><button data-link="index.php?view=gameArchive" type="button" class="success event-link mt-5 mb-5 w-160">Archiv</button></p>
      </td>
      <td class="align-right align-top">
        <img class="c-dashboard-player-image my-account-image" src="includes/files/player/{{Player::email}}/{{Player::image}}?v={{default::timestamp}}" />
      </td>
    </tr>
  </table>
</div>
<div class="content-container" style="min-height: 28px;">
  <h2 class="align-left float-left">Spiele</h2>
  <p class="align-right"><button data-link="index.php?view=gameEdit&fields=Game" type="button" class="event-link success w-160 hidden new-game-button">Neues Spiel</button></p>
</div>
<div id="game-content-container"></div>
<script>
  window[ appAlias ].methods.unhideGameDeleteButtons = function() {
    var strRole             = '{{Player::role}}';
    var arrDeleteButtons    = document.querySelectorAll( '.game-delete-button' );
    var arrArchiveButtons   = document.querySelectorAll( '.game-archive-button' );
    var objPlayerListButton = document.querySelector( '#player-list-button-container' );
    var objNewGameButton    = document.querySelector( '.new-game-button' );
    var objNewPlayerButton  = document.querySelector( '#new-player-button-container' );
    var objArchiveButton    = document.querySelector( '#game-archive-button-container' );
    if( strRole == 'administrator' ) {
      for( var i = 0; i < arrDeleteButtons.length; i++ ) {
        arrDeleteButtons[ i ].classList.remove( 'hidden' );
      }
      for( var i = 0; i < arrArchiveButtons.length; i++ ) {
        arrArchiveButtons[ i ].classList.remove( 'hidden' );
      }
      if( objNewGameButton != null ) objNewGameButton.classList.remove( 'hidden' );
      if( objNewPlayerButton != null ) objNewPlayerButton.classList.remove( 'hidden' );
      if( objPlayerListButton != null ) objPlayerListButton.classList.remove( 'hidden' );
      if( objArchiveButton != null ) objArchiveButton.classList.remove( 'hidden' );
    }
  };
  ( function() {
    window[ appAlias ].methods.cAddGamesToTemplate();
    return;
  } )();
</script>
