  <input type="hidden" name="resetForm" value="1" />
  <div class="content-container first-child pulse-container" >
    <h1 class="align-left float-left">Mein Account</h1>
    <div class="align-right">
      <button type="button" class="warning w-140 event-link" data-link="index.php?view=player">Zurück</button>
    </div>
  </div>
  <div class="content-container pulse-container-reverse-slow" >
    <h2 class="align-left mb-15">Avatar</h2>
    <table>
      <tr>
        <td class="align-top pr-10">
          <div class="align-left" ><span class="bold">WICHTIG:</span> Felder mit einem Sternchen (*) sind Pflichtfelder und müssen ausgefüllt werden, um das Formular abzuschicken.</div>
        </td>
        <td class="align-top">
          <img id="avatar" src="includes/files/player/{{Player::email}}/{{Player::image}}?v={{default::timestamp}}" class="c-dashboard-player-image pointer">
          <input id="avatar-upload" type="file" name="pictures[]" />
        </td>
      </tr>
    </table>
  </div>
  <div class="content-container align-left pulse-container-slow" >
    <form id="form1">
      <h2 class="align-left mb-15">Benutzerdaten</h2>
      <label class="mw-200" for="email">E-Mail Adresse*</label>
      <input autocomplete="email" disabled="disabled" class="mb-10 mt-5 w-350" type="text" name="email" id="email" placeholder="Eingabe E-Mail Adresse" value="{{Player::email}}" />
      <label class="mw-200" for="password">Passwort*</label>
      <input class="mb-10 mt-5 w-350" autocomplete="off" type="password" name="password" id="password" placeholder="Eingabe Passwort" />
      <label class="mw-200" for="password2">Passwort Wiederholung*</label>
      <input class="mb-10 mt-5 w-350" autocomplete="off" type="password" name="password2" id="password2" placeholder="Eingabe Passwort Wiederholung" />

      <div class="align-left mt-15"><span class="bold">WICHTIG:</span> Das Passwort muss aus mindestens 8 Zeichen, welche aus Groß- und Kleinbuchstaben sowie aus Zahlen und Sonderzeichen bestehen.</div>
      <div class="align-left">
        <button type="button" disabled="disabled" class="w-140 primary mt-15 event-change-player-password submit" id="event-change-player-password">Passwort ändern</button>
      </div>
    </form>
  </div>
  <div class="content-container align-left pulse-container-reverse" >
    <form id="form2">
      <h2 class="align-left mb-15">Persönliche Daten</h2>
      <label class="mw-200 w-200" for="name">Benutzername*</label>
      <input autocomplete="name" class="mb-10 mt-5 w-350" type="text" name="name" id="name" placeholder="Eingabe Benutzername" value="{{Player::name}}" />
      <label class="mw-200" for="role">Rolle*</label>
      <select class="mb-10 mt-5 w-375" name="role" id="role" readonly="readonly" disabled="disabled">
        <option value="{{Player::role}}">{{Translate::Player::role}}</option>
        <option value="guest">Gast</option>
        <option value="player">Spieler</option>
        <option value="administrator">Administrator</option>
      </select>
      <label class="mw-200" for="title">Title </label>
      <input autocomplete="title" class="mb-10 mt-5 w-350 suggest-player-title" title="? für einen Titel Vorschlag" type="text" name="title" id="title" placeholder="Eingabe Title" value="{{Player::title}}" />
      <label class="mw-200" for="description">Beschreibung</label>
      <textarea autocomplete="description" class="mb-8 mt-5 h-60 w-260" name="description" id="description" placeholder="Eingabe Beschreibung">{{Player::description}}</textarea>
      <label class="mw-200" for="themes">Theme</label>
      <select class="mb-15 mt-5 w-375" name="themes" id="themes"></select>
      <div class="align-left">
        <button type="button" disabled="disabled" class="primary submit event-save-object w-140" id="event-save-object">Speichern</button>
      </div>
    </form>
  </div>
  <div class="content-container pulse-container" >
    <div class="align-left">
      <button type="button" class="primary danger event-save-object w-140" id="event-delete-player">Spieler Löschen</button>
    </div>
  </div>

  <script type="text/javascript">
    ( function() {
      window[ appAlias ].objects.player = new Player();
      window[ appAlias ].objects.player.setThemes();
      return;
    } )();
  </script>