<script type="text/javascript">
  window[ appAlias ].games      = {{Player::gameObjects}};
  window[ appAlias ].gameFields = {{Game::gameFields}};
</script>

<div class="content-container first-child" >
  <h1 class="align-left">Mein Account</h1>
</div>
<div class="content-container" >
  <h2 class="align-left">Meine Daten</h2>
  <table class="c-info-table mt-20" cellspacing="0">
    <tr>
      <td class="align-top">
        <p class="bold mb-5">{{Player::name}}</p>
        <p><a href="mailto:{{Player::email}}">✉ {{Player::email}}</a></p>
        <p>{{Translate::Player::role}}</p>
        <p>{{Player::title}}</p>
        <p>{{Player::description}}</p>
        <p><button data-link="index.php?view=playerEdit" type="button" class="primary event-link mt-10 w-160">Anpassen</button></p>
        <p class="hidden" id="new-player-button-container"><button data-link="index.php?view=playerNew" type="button" class="info event-link mt-2 w-160">Spieler anlegen</button></p>
        <p class="hidden" id="player-list-button-container"><button data-link="index.php?view=playerList" type="button" class="warning event-link mt-2 w-160">Spielerliste</button></p>
        <p class="hidden" id="game-archive-button-container"><button data-link="index.php?view=gameArchive" type="button" class="success event-link mt-2 mb-5 w-160">Archiv</button></p>
      </td>
      <td class="align-right align-top">
        <img class="c-dashboard-player-image my-account-image" src="includes/files/player/{{Player::email}}/{{Player::image}}?v={{default::timestamp}}" />
      </td>
    </tr>
  </table>
</div>
<div class="content-container" style="min-height: 28px;">
  <h2 class="align-left float-left">Spiele</h2>
  <p class="align-right"><button data-link="index.php?view=gameEdit&fields=Game" type="button" class="event-link success w-160 hidden new-game-button">Neues Spiel</button></p>
</div>
<div id="game-content-container"></div>
<div class="content-container minh-30">
  <h2 class="align-left">Dashboard</h2>
</div>
<div class="player-dashboard-container">
  <div class="card card-mobile-full">
    <div class="card-title">Als Spieler</div>
    <div class="card-content-flex">
      <span>Spiele</span>
      <span class="js-calc js-calc-set-default-int">{{Player::asPlayerCountGames}}</span>
    </div>
    <div class="card-content-flex">
      <span>Zeit</span>
      <span><span class="js-calc js-calc-set-default-int">{{Player::asPlayerTime}}</span> Std</span>
    </div>
    <div class="card-content-flex">
      <span class="danger-text">Gefangen</span>
      <span class="danger-text js-calc js-calc-set-default-int">{{Player::asPlayerCaptured}}</span>
    </div>
    <div class="card-content-flex">
      <span>Speed Hunts</span>
      <span class="js-calc js-calc-set-default-int">{{Player::asPlayerSpeedHunts}}</span>
    </div>
    <div class="card-content-flex">
      <span class="danger-text">Regelbrüche</span>
      <span class="danger-text js-calc js-calc-set-default-int">{{Player::asPlayerViolationOfTheRules}}</span>
    </div>
    <div class="card-content-flex">
      <span>Nachrichten</span>
      <span><span class="js-calc js-calc-set-default-int">{{Player::asPlayerCountMessages}}</span>/<span class="js-calc js-calc-set-default-int">{{Player::asPlayerCountMessagesAll}}</span></span>
    </div>
  </div>

  <div class="card">
    <div class="card-title">Als Jäger</div>
    <div class="card-content-flex">
      <span>Spiele</span>
      <span class="js-calc js-calc-set-default-int">{{Player::asHunterCountGames}}</span>
    </div>
    <div class="card-content-flex">
      <span>Zeit</span>
      <span><span class="js-calc js-calc-set-default-int">{{Player::asHunterTime}}</span> Std</span>
    </div>
    <div class="card-content-flex">
      <span class="success-text">Gefangen</span>
      <span class="success-text js-calc js-calc-set-default-int">{{Player::asHunterCaptured}}</span>
    </div>
    <div class="card-content-flex">
      <span>Speed Hunts</span>
      <span class="js-calc js-calc-set-default-int">{{Player::asHunterSpeedHunts}}</span>
    </div>
    <div class="card-content-flex">
      <span class="danger-text">Regelbrüche</span>
      <span class="danger-text js-calc js-calc-set-default-int">{{Player::asHunterViolationOfTheRules}}</span>
    </div>
    <div class="card-content-flex">
      <span>Nachrichten</span>
      <span><span class="js-calc js-calc-set-default-int">{{Player::asHunterCountMessages}}</span>/<span class="js-calc js-calc-set-default-int">{{Player::asHunterCountMessagesAll}}</span></span>
    </div>
  </div>

  <div class="card">
    <div class="card-title">Als Spielleitung</div>
    <div class="card-content-flex">
      <span>Spiele</span>
      <span class="js-calc js-calc-set-default-int">{{Player::asManagementCountGames}}</span>
    </div>
    <div class="card-content-flex">
      <span>Zeit</span>
      <span><span class="js-calc js-calc-set-default-int">{{Player::asManagementTime}}</span> Std</span>
    </div>
    <div class="card-content-flex">
      <span>Gefangen</span>
      <span class="js-calc js-calc-set-default-int">{{Player::asManagementCaptured}}</span>
    </div>
    <div class="card-content-flex">
      <span>Speed Hunts</span>
      <span class="js-calc js-calc-set-default-int">{{Player::asManagementSpeedHunts}}</span>
    </div>
    <div class="card-content-flex">
      <span class="danger-text">Regelbrüche</span>
      <span class="danger-text js-calc js-calc-set-default-int">{{Player::asManagementViolationOfTheRules}}</span>
    </div>
    <div class="card-content-flex">
      <span>Nachrichten</span>
      <span><span class="js-calc js-calc-set-default-int">{{Player::asManagementCountMessages}}</span>/<span class="js-calc js-calc-set-default-int">{{Player::asManagementCountMessagesAll}}</span></span>
    </div>
  </div>

  <div class="card card-mobile-full">
    <div class="card-title">Distanzen als Spieler</div>
    <div class="card-content-flex">
      <span>Distanz</span>
      <span><span class="js-calc js-calc-set-default-int js-calc-m-km js-calc-custom-round">{{Player::asPlayerDistance}}</span> km</span>
    </div>
    <div class="card-content-flex">
      <span class="warning-text">Gefahren</span>
      <span class="warning-text"><span class="js-calc js-calc-set-default-int js-calc-m-km js-calc-custom-round">{{Player::asPlayerDistanceDrived}}</span> km</span>
    </div>
    <div class="card-content-flex">
      <span>Schritte</span>
      <span class="js-calc js-calc-set-default-int">{{Player::asHunterPlayerSteps}}</span>
    </div>
  </div>

  <div class="card">
    <div class="card-title">Distanzen als Jäger</div>
    <div class="card-content-flex">
      <span>Distanz</span>
      <span><span class="js-calc js-calc-set-default-int js-calc-m-km js-calc-custom-round">{{Player::asHunterDistance}}</span> km</span>
    </div>
    <div class="card-content-flex">
      <span>Gefahren</span>
      <span><span class="js-calc js-calc-set-default-int js-calc-m-km js-calc-custom-round">{{Player::asHunterDistanceDrived}}</span> km</span>
    </div>
    <div class="card-content-flex">
      <span>Schritte</span>
      <span class="js-calc js-calc-set-default-int">{{Player::asHunterCountSteps}}</span>
    </div>
  </div>

  <div class="card">
    <div class="card-title">Distanzen als Spielleitung</div>
    <div class="card-content-flex">
      <span>Distanz</span>
      <span><span class="js-calc js-calc-set-default-int js-calc-m-km js-calc-custom-round">{{Player::asManagementDistance}}</span> km</span>
    </div>
    <div class="card-content-flex">
      <span>Gefahren</span>
      <span><span class="js-calc js-calc-set-default-int js-calc-m-km js-calc-custom-round">{{Player::asManagementDistanceDrived}}</span> km</span>
    </div>
    <div class="card-content-flex">
      <span>Schritte</span>
      <span class="js-calc js-calc-set-default-int">{{Player::asManagementCountSteps}}</span>
    </div>
  </div>

</div>

<script>
  ( function() {
    window[ appAlias ].systemRole     = '{{Player::role}}';
    window[ appAlias ].objects.player = window[ appAlias ].objects.player || new Player( window[ appAlias ].id );

    window[ appAlias ].objects.player.addGamesToTemplate();

    // window[ appAlias ].methods.cAddGamesToTemplate();
    return;
  } )();
</script>
