  <div class="content-container first-child pulse-container" >
    <h1 class="align-left float-left">Registrierung Erfolgreich</h1>
    <div class="align-right">
      <button type="button" class="warning w-140 event-link" data-link="index.php?view=login">Zurück</button>
    </div>
  </div>
  <div class="content-container align-left pulse-container-reverse-slow">
    <h2 class="mb-10 mt-10">Vielen Dank für deine Registrierung.</h2>
    <p class="mb-10">Wir haben dir soeben eine E-Mail mit einem Bestätigungslink an deine angegebene Adresse geschickt.</p>
    <p class="mb-10">Bitte überprüfe dein Postfach (und auch den Spam-Ordner) und klicke auf den Link, um deine Registrierung abzuschließen.</p>
    <p class="mb-10">Sobald deine E-Mail bestätigt ist, kannst du dich in der App anmelden und alle Funktionen nutzen.</p>
  </div>

  <script type="text/javascript">
  ( function() {
    window[ appAlias ].objects.player = new Player();
    return;
  } )();
</script>
