#map {
  height: 150vh;
  width: 100%;
}

.leaflet-control-attribution,
.leaflet-control-zoom {
  display: none;
}

.tactical-marker {
  background: transparent !important;
  border: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tactical-marker svg {
  filter: drop-shadow(0px 0px 6px var(--glow-color, rgba(255,255,255,0.5)));
  transition: transform 0.2s ease;
}

.tactical-marker svg:hover {
  transform: scale(1.2);
}

.game-menu-top {
  width: 580px;
  height: 50px;
  text-align: left;
  margin: 0 auto;
  position: fixed;
  top: 0px;
  left: calc(50% - 290px);
  background-color: var(--backgroundColorContent);
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  z-index: 1020;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.game-menu-bottom {
  width: 580px;
  height: 50px;
  text-align: left;
  margin: 0 auto;
  position: fixed;
  bottom: 0px;
  left: calc(50% - 290px);
  background-color: var(--backgroundColorContent);
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  z-index: 1020;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}