.game-hidden-room-item {
  position: absolute;
  cursor: pointer;
  z-index: 2000;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: 16px;
  border-radius: 4px;
  width: 30px;
  height: 30px; 
  opacity: 0.8; 
}

#game-item-container .game-item {
  opacity: 1;
  transition: opacity 0.3s; 
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
}

#game-meet-task-panel div {
  background-repeat: no-repeat;
  background-position-x: 48%;
  background-position-y: 48%;
  /*width: 100%;*/
}

#game-item-container .game-item:hover {
  opacity: 0.5;
}

.room-item-dildo-hidden-01 {
  background-image: url('../images/items/roomItemDildoHidden01.png');
  background-size: 30px;
  top: 87px;
  left: 170px;
}

#game-meet-task-panel div,
#game-item-container div {
  background-repeat: no-repeat;
}

#game-item-container div[data-item-id="roomItemDildoHidden01"] {
  background-image: url(../images/items/roomItemDildoHidden01.png);
  background-size: 55px;
  background-position-x: -6px;
}

.room-item-pranger-hidden-01 {
  background-image: url(../images/items/roomItemPrangerHidden01.png);
  background-size: 79px;
  width: 70px;
  height: 78px;
  top: 115px;
  left: 489px;
}

.room-item-bdsm-cross-hidden-01 {
  background-image: url(../images/items/roomItemBdsmCrossHidden01.png);
  background-size: 73px;
  width: 70px;
  height: 78px;
  top: 81px;
  left: 158px;
}

.room-item-viagra-hidden-01 {
  background-image: url(../images/items/roomItemViagraHidden01.png);
  top: 119px;
  left: 290px;
}

#game-item-container div[data-item-id="roomItemViagraHidden01"] {
  background-image: url(../images/items/roomItemViagraHidden01.png);
  background-size: 55px;
}

#game-meet-task-panel .full-image-div-roomItemViagraHidden01 {
  background-image: url(../images/items/roomItemViagraHidden01.png);
  background-size: 220px;
  background-position-y: -55px;
  height: 125px;
}

.room-item-handschellen-hidden-01 {
  background-image: url(../images/items/roomItemHandschellenHidden01.png);
  top: 107px;
  left: 156px;
}

#game-item-container div[data-item-id="roomItemHandschellenHidden01"] {
  background-image: url(../images/items/roomItemHandschellenHidden01.png);
  background-size: 96px;
  background-position-x: -5px;
}

.room-item-handschellen-hidden-02 {
  background-image: url(../images/items/roomItemHandschellenHidden02.png);
  top: 82px;
  left: 53px;
}

#game-item-container div[data-item-id="roomItemHandschellenHidden02"] {
  background-image: url(../images/items/roomItemHandschellenHidden02.png);
  background-size: 62px;
  background-position-x: -5px;
}

#game-meet-task-panel .full-image-div-roomItemHandschellenHidden02 {
  background-image: url(../images/items/roomItemHandschellenHidden02.png);
  background-size: 227px;
  background-position-y: -29px;
  height: 139px;
}

.room-item-notiz-hidden-01 {
  background-image: url(../images/items/roomItemNotizHidden01.png);
  background-size: 26px;
  top: 84px;
  left: 102px;
}

#game-item-container div[data-item-id="roomItemNotizHidden01"] {
  background-image: url(../images/items/roomItemNotizHidden01.png);
  background-size: 81px;
  background-position-y: -25px;
}

#game-meet-task-panel .full-image-div-roomItemNotizHidden01 {
  background-image: url(../images/items/roomItemNotizHidden01.png);
  background-size: 250px;
  background-position-y: -90px;
  height: 125px;
}

.room-item-notiz-hidden-02 {
  background-image: url(../images/items/roomItemNotizHidden02.png);
  background-size: 20px;
  top: 161px;
  left: 122px;
  transform: rotate(-77deg);
}

#game-item-container div[data-item-id="roomItemNotizHidden02"] {
  background-image: url(../images/items/roomItemNotizHidden02.png);
  background-size: 90px;
}

#game-meet-task-panel .full-image-div-roomItemNotizHidden02 {
  background-image: url(../images/items/roomItemNotizHidden02.png);
  background-size: 220px;
  height: 152px;
}

.room-item-notiz-hidden-03 {
  background-image: url(../images/items/roomItemNotizHidden03.png);
  top: 145px;
  left: 244px;
}

#game-item-container div[data-item-id="roomItemNotizHidden03"] {
  background-image: url(../images/items/roomItemNotizHidden03.png);
  background-size: 100px;
  background-position-y: -25px;
}

#game-meet-task-panel .full-image-div-roomItemNotizHidden03 {
  background-image: url(../images/items/roomItemNotizHidden03.png);
  background-size: 290px;
  background-position-y: -88px;
  height: 133px;
}

.room-item-bh-hidden-02 {
  background-image: url(../images/items/roomItemBhHidden02.png);
  background-size: 34px;
  top: 78px;
  left: 409px;
  transform: rotate(11deg);
}

#game-item-container div[data-item-id="roomItemBhHidden02"] {
  background-image: url(../images/items/roomItemBhHidden02.png);
  background-size: 60px;
}

#game-meet-task-panel .full-image-div-roomItemBhHidden02 {
  background-image: url(../images/items/roomItemBhHidden02.png);
  background-size: 250px;
  background-position-y: 0px;
  height: 210px;
}

.room-item-string-hidden-02 {
  background-image: url(../images/items/roomItemStringHidden02.png);
  background-size: 30px;
  top: 71px;
  left: 148px;
  transform: rotate(-2deg);
}

#game-item-container div[data-item-id="roomItemStringHidden02"] {
  background-image: url(../images/items/roomItemStringHidden02.png);
  background-size: 49px;
  background-position-x: 2px;
}

#game-meet-task-panel .full-image-div-roomItemStringHidden02 {
  background-image: url(../images/items/roomItemStringHidden02.png);
  background-size: 250px;
  background-position-y: 0px;
  height: 210px;
}

.room-item-liebeskugeln-hidden-01 {
  background-image: url(../images/items/roomItemLiebeskugelnHidden01.png);
  background-size: 30px;
  top: 88px;
  left: 22px;
}

#game-item-container div[data-item-id="roomItemLiebeskugelnHidden01"] {
  background-image: url(../images/items/roomItemLiebeskugelnHidden01.png);
  background-size: 76px;
  background-position-x: -13px;
}

#game-meet-task-panel .full-image-div-roomItemLiebeskugelnHidden01 {
  background-image: url(../images/items/roomItemLiebeskugelnHidden01.png);
  background-size: 250px;
  background-position-y: -75px;
  height: 111px;
}

.room-item-handtuch-hidden-01 {
  background-image: url(../images/items/roomItemHandtuchHidden01.png);
  background-size: 26px;
  top: 97px;
  left: 211px;
}

#game-item-container div[data-item-id="roomItemHandtuchHidden01"] {
  background-image: url(../images/items/roomItemHandtuchHidden01.png);
  background-size: 67px;
  background-position-y: -9px;
}

#game-meet-task-panel .full-image-div-roomItemHandtuchHidden01 {
  background-image: url(../images/items/roomItemHandtuchHidden01.png);
  background-size: 250px;
  background-position-y: -30px;
  height: 210px;
}

.room-item-batterien-hidden-01 {
  background-image: url(../images/items/roomItemBatterienHidden01.png);
  background-size: 12px;
  top: 136px;
  left: 508px;
}

#game-item-container div[data-item-id="roomItemBatterienHidden01"] {
  background-image: url(../images/items/roomItemBatterienHidden01.png);
  background-size: 64px;
}

#game-meet-task-panel .full-image-div-roomItemBatterienHidden01 {
  background-image: url(../images/items/roomItemBatterienHidden01.png);
  background-size: 250px;
  height: 147px;
}

.room-item-fernbedienung-hidden-01 {
  background-image: url(../images/items/roomItemFernbedienungHidden01.png);
  top: 104px;
  left: 400px;
}

#game-item-container div[data-item-id="roomItemFernbedienungHidden01"] {
  background-image: url(../images/items/roomItemFernbedienungHidden01.png);
  background-size: 55px;
}

#game-meet-task-panel .full-image-div-roomItemFernbedienungHidden01 {
  background-image: url(../images/items/roomItemFernbedienungHidden01.png);
  background-size: 250px;
  background-position-y: -70px;
  height: 115px;
}

.room-item-elexier-hidden-01 {
  background-image: url(../images/items/roomItemElexierHidden01.png);
  background-size: 21px;
  top: 80px;
  left: 303px;
}

#game-item-container div[data-item-id="roomItemElexierHidden01"] {
  background-image: url(../images/items/roomItemElexierHidden01.png);
  background-size: 75px;
  background-position-x: -12px;
}

#game-meet-task-panel .full-image-div-roomItemElexierHidden01 {
  background-image: url(../images/items/roomItemElexierHidden01.png);
  background-size: 250px;
  height: 180px;
}

.room-item-cage-hidden-01 {
  background-image: url(../images/items/roomItemCageHidden01.png);
  background-size: 22px;
  top: 137px;
  left: 293px;
  transform: rotate(-122deg);
}

#game-item-container div[data-item-id="roomItemCageHidden01"] {
  background-image: url(../images/items/roomItemCageHidden01.png);
  background-size: 75px;
  background-position-y: -13px;
}

#game-meet-task-panel .full-image-div-roomItemCageHidden01 {
  background-image: url(../images/items/roomItemCageHidden01.png);
  background-size: 250px;
  background-position-y: -70px;
  height: 140px;
}

.room-item-key-hidden-01 {
  background-image: url(../images/items/roomItemKeyHidden01.png);
  background-size: 10px;
  top: 132px;
  left: 367px;
}

#game-item-container div[data-item-id="roomItemKeyHidden01"] {
  background-image: url(../images/items/roomItemKeyHidden01.png);
  background-size: 60px;
}

#game-meet-task-panel .full-image-div-roomItemKeyHidden01 {
  background-image: url(../images/items/roomItemKeyHidden01.png);
  background-size: 250px;
  height: 130px;
}

.room-item-peitsche-hidden-01 {
  background-image: url(../images/items/roomItemPeitscheHidden01.png);
  background-size: 25px;
  top: 135px;
  left: 26px;
}

#game-item-container div[data-item-id="roomItemPeitscheHidden01"] {
  background-image: url(../images/items/roomItemPeitscheHidden01.png);
  background-size: 90px;
  background-position-y: -25px;
}

.room-item-peitsche-hidden-02 {
  background-image: url(../images/items/roomItemPeitscheHidden02.png);
  background-size: 25px;
  top: 90px;
  left: 433px;
}

#game-item-container div[data-item-id="roomItemPeitscheHidden02"] {
  background-image: url(../images/items/roomItemPeitscheHidden02.png);
  background-size: 120px;
  background-position-y: -18px;
}

.room-item-joint-hidden-01 {
  background-image: url(../images/items/roomItemJointHidden01.png);
  background-size: 12px;
  top: 115px;
  left: 14px;
  transform: rotate(-256deg);
}

#game-item-container div[data-item-id="roomItemJointHidden01"] {
  background-image: url(../images/items/roomItemJointHidden01.png);
  background-size: 55px;
}

#game-meet-task-panel .full-image-div-roomItemJointHidden01 {
  background-image: url(../images/items/roomItemJointHidden01.png);
  background-size: 200px;
  height: 200px;
}

.room-item-streichhoelzer-hidden-01 {
  background-image: url(../images/items/roomItemStreichhoelzerHidden01.png);
  background-size: 12px;
  top: 96px;
  left: 407px;
  transform: rotate(-269deg);
}

#game-item-container div[data-item-id="roomItemStreichhoelzerHidden01"] {
  background-image: url(../images/items/roomItemStreichhoelzerHidden01.png);
  background-size: 71px;
  background-position-x: -9px;
}

#game-meet-task-panel .full-image-div-roomItemStreichhoelzerHidden01 {
  background-image: url(../images/items/roomItemStreichhoelzerHidden01.png);
  background-size: 250px;
  height: 190px;
}

.room-item-handtuch-hidden-02 {
  background-image: url(../images/items/roomItemHandtuchHidden02.png);
  background-size: 38px;
  top: 89px;
  left: 87px;
}

#game-item-container div[data-item-id="roomItemHandtuchHidden02"] {
  background-image: url(../images/items/roomItemHandtuchHidden02.png);
  background-size: 100px;
}

#game-meet-task-panel .full-image-div-roomItemHandtuchHidden02 {
  background-image: url(../images/items/roomItemHandtuchHidden02.png);
  background-size: 220px;
  height: 190px;
}

.room-item-cookie-hidden-01 {
  background-image: url(../images/items/roomItemCookieHidden01.png);
  top: 109px;
  left: 244px;
}

#game-item-container div[data-item-id="roomItemCookieHidden01"] {
  background-image: url(../images/items/roomItemCookieHidden01.png);
  background-size: 70px;
}

#game-item-container div[data-combined-item-id="roomItemCookieHidden01"] {
  background-image: url(../images/items/roomItemCookieHidden01Broken.png) !important;
  background-size: 80px;
}

#game-meet-task-panel .full-image-div-roomItemCookieHidden01 {
  background-image: url(../images/items/roomItemCookieHidden01.png);
  background-size: 250px;
  height: 127px;
}

#game-meet-task-panel .full-image-div-roomItemCookieHidden01-broken {
  background-image: url(../images/items/roomItemCookieHidden01Broken.png);
  background-size: 250px;
  height: 152px;
}

.room-item-safe-hidden-01 {
  background-image: url(../images/items/roomItemSafeHidden01.png);
  background-size: 37px;
  top: 87px;
  left: 265px;
  opacity: 1;
}

#game-item-container div[data-item-id="roomItemSafeHidden01"] {
  background-image: url(../images/items/roomItemSafeHidden01.png);
  background-size: 100px;
  background-position-x: -2px;
  background-position-y: -7px;
}

#game-meet-task-panel .full-image-div-roomItemSafeHidden01 {
  background-image: url(../images/items/roomItemSafeHidden01.png);
  background-size: 250px;
  height: 160px;
}

#game-meet-task-panel .full-image-div-roomItemSafeHidden01-open {
  background-image: url(../images/items/roomItemSafeHidden01Open.png);
  background-size: 250px;
  height: 165px;
}

#game-item-container div[data-item-id="roomItemDokumentHidden01"] {
  background-image: url(../images/items/roomItemDokumentHidden01.png);
  background-size: 65px;
}

#game-meet-task-panel .full-image-div-roomItemDokumentHidden01 {
  background-image: url(../images/items/roomItemDokumentHidden01.png);
  background-size: 250px;
  height: 210px;
}

.room-item-sicherungen-hidden-01 {
  background-image: url(../images/items/roomItemSicherungenHidden01.png);
  background-size: 20px;
  top: 92px;
  left: 409px;
}

#game-meet-task-panel .full-image-div-roomItemSicherungenHidden01 {
  background-image: url(../images/items/roomItemSicherungenHidden01.png);
  background-size: 200px;
  height: 170px;
}

#game-meet-task-panel .full-image-div-roomItemSicherungenHidden01Open {
  background-image: url(../images/items/roomItemSicherungenHidden01Open.png);
  background-size: 200px;
  height: 165px;
}

.room-item-multitool-hidden-01 {
  background-image: url(../images/items/roomItemMultitoolHidden01.png);
  background-size: 20px;
  top: 156px;
  left: 555px;
  transform: rotate(-300deg);
}

#game-item-container div[data-item-id="roomItemMultitoolHidden01"] {
  background-image: url(../images/items/roomItemMultitoolHidden01.png);
  background-size: 55px;
  background-position-x: -2px;
}

#game-meet-task-panel .full-image-div-roomItemMultitoolHidden01 {
  background-image: url(../images/items/roomItemMultitoolHidden01.png);
  background-size: 200px;
  height: 200px;
}

.room-item-music-system-hidden-01 {
  background-image: url(../images/items/roomItemMusicSystemHidden01.png);
  background-size: 50px;
  height: 35px;
  top: 115px;
  left: 272px;
}

#game-meet-task-panel .full-image-div-roomItemMusicSystemHidden01 {
  background-image: url(../images/items/roomItemMusicSystemHidden01.png);
  background-size: 250px;
  height: 215px;
}

.room-item-usb-stick-hidden-01 {
  background-image: url(../images/items/roomItemUsbStickHidden01.png);
  top: 127px;
  left: 137px;
}

#game-item-container div[data-item-id="roomItemUsbStickHidden01"] {
  background-image: url(../images/items/roomItemUsbStickHidden01.png);
  background-size: 60px;
  transform: rotate(90deg);
}

#game-meet-task-panel .full-image-div-roomItemUsbStickHidden01 {
  background-image: url(../images/items/roomItemUsbStickHidden01.png);
  background-size: 250px;
  height: 100px;
}

.room-item-usb-stick-hidden-02 {
  background-image: url(../images/items/roomItemUsbStickHidden02.png);
  top: 124px;
  left: 203px;
  transform: rotate(-217deg);
}

#game-item-container div[data-item-id="roomItemUsbStickHidden02"] {
  background-image: url(../images/items/roomItemUsbStickHidden02.png);
  background-size: 90px;
  background-position-x: -22px;
}

#game-meet-task-panel .full-image-div-roomItemUsbStickHidden02 {
  background-image: url(../images/items/roomItemUsbStickHidden02.png);
  background-size: 300px;
  height: 135px;
  transform: rotate(90deg);
}

.room-item-hamster-hidden-01 {
  background-image: url(../images/items/roomItemHamsterHidden01.png);
  top: 105px;
  left: 141px;
}

#game-item-container div[data-item-id="roomItemHamsterHidden01"] {
  background-image: url(../images/items/roomItemHamsterHidden01.png);
  background-size: 78px;
  background-position-x: -11px;
  background-position-y: -16px;
}

#game-meet-task-panel .full-image-div-roomItemHamsterHidden01 {
  background-image: url(../images/items/roomItemHamsterHidden01.png);
  background-size: 200px;
  background-position-y: -41px;
  height: 139px;
}

.room-item-microwelle-hidden-01 {
  background-image: url(../images/items/roomItemMicrowelleHidden01.png);
  background-size: 34px;
  top: 93px;
  left: 283px;
  opacity: 0.9;
}

#game-meet-task-panel .full-image-div-roomItemMicrowelleHidden01 {
  background-image: url(../images/items/roomItemMicrowelleHidden01.png);
  background-size: 253px;
  background-position-y: -64px;
  height: 139px;
}

.room-item-harvey-hidden-01 {
  background-image: url(../images/items/roomItemHarveyHidden01.png);
  background-size: 33px;
  top: 77px;
  left: 409px;
}

#game-item-container div[data-item-id="roomItemHarveyHidden01"] {
  background-image: url(../images/items/roomItemHarveyHidden01.png);
  background-size: 55px;
}

#game-meet-task-panel .full-image-div-roomItemHarveyHidden01 {
  background-image: url(../images/items/roomItemHarveyHidden01.png);
  background-size: 143px;
  height: 152px;
}

.room-item-steckbrief-hidden-01 {
  background-image: url(../images/items/roomItemSteckbriefHidden01.png);
  background-size: 20px;
  top: 77px;
  left: 282px;
}

#game-meet-task-panel .full-image-div-roomItemSteckbriefHidden01 {
  background-image: url(../images/items/roomItemSteckbriefHidden01.png);
  background-size: 300px;
  background-position-y: -46px;
  height: 226px;
}

.room-item-kissen-hidden-01 {
  background-image: url(../images/items/roomItemKissenHidden01.png);
  background-size: 31px;
  top: 110px;
  left: 138px;
  transform: rotate(-363deg);
  z-index: 2020;
}

#game-item-container div[data-item-id="roomItemKissenHidden01"] {
  background-image: url(../images/items/roomItemKissenHidden01.png);
  background-size: 55px;
}

#game-meet-task-panel .full-image-div-roomItemKissenHidden01 {
  background-image: url(../images/items/roomItemKissenHidden01.png);
  background-size: 300px;
  background-position-y: -121px;
  height: 110px;
}

.room-item-schokoriegel-hidden-01 {
  background-image: url(../images/items/roomItemSchokoriegelHidden01.png);
  background-size: 10px;
  width: 12px;
  height: 10px;
  top: 123px;
  left: 149px;
}

#game-item-container div[data-item-id="roomItemSchokoriegelHidden01"] {
  background-image: url(../images/items/roomItemSchokoriegelHidden01.png);
  background-size: 65px;
}

#game-item-container div[data-item-id="roomItemSchokoriegelHidden01"][data-combined-item-id="roomItemSchokoriegelHidden01"] {
  background-image: url(../images/items/roomItemSchockoriegelHidden01Offen.png);
  background-size: 65px;
}

#game-meet-task-panel .full-image-div-roomItemSchokoriegelHidden01 {
  background-image: url(../images/items/roomItemSchokoriegelHidden01.png);
  background-size: 223px;
  height: 150px;
}

#game-meet-task-panel .full-image-div-roomItemSchokoriegelHidden01Offen {
  background-image: url(../images/items/roomItemSchockoriegelHidden01Offen.png);
  background-size: 223px;
  height: 150px;
}

#game-item-container div[data-item-id="roomItemNagelfeileHidden01"] {
  background-image: url(../images/items/roomItemNagelfeileHidden01.png);
  background-size: 55px;
}

#game-meet-task-panel .full-image-div-roomItemNagelfeileHidden01 {
  background-image: url(../images/items/roomItemNagelfeileHidden01.png);
  background-size: 200px;
  height: 190px;
}

.room-item-schloss-hidden-01 {
  background-image: url(../images/items/roomItemSchlossHidden01.png);
  background-size: 10px;
  top: 100px;
  left: 275px;
}

#game-meet-task-panel .full-image-div-roomItemSchlossHidden01 {
  background-image: url(../images/items/roomItemSchlossHidden01.png);
  background-size: 200px;
  height: 174px;
}

.room-item-projektor-hidden-01 {
  background-image: url(../images/items/roomItemProjektorHidden01.png);
  background-size: 117px;
  width: 86px;
  height: 128px;
  top: 73px;
  left: 515px;
}

#game-meet-task-panel .full-image-div-roomItemProjektorHidden01 {
  background-image: url(../images/items/roomItemProjektorHidden01.png);
  background-size: 200px;
  background-position-y: -24px;
  height: 174px;
}

.room-item-filmrolle-hidden-01 {
  background-image: url(../images/items/roomItemFilmrolleHidden01.png);
  background-size: 20px;
  top: 124px;
  left: 72px;
}

#game-item-container div[data-item-id="roomItemFilmrolleHidden01"] {
  background-image: url(../images/items/roomItemFilmrolleHidden01.png);
  background-size: 80px;
  background-position-x: -15px;
  background-position-y: -18px;
}

#game-meet-task-panel .full-image-div-roomItemFilmrolleHidden01 {
  background-image: url(../images/items/roomItemFilmrolleHidden01.png);
  background-size: 200px;
  height: 114px;
}

.room-item-leinwand-hidden-01 {
  background-image: url(../images/items/roomItemLeinwand01Hidden.png);
  background-size: 104px;
  width: 114px;
  height: 86px;
  top: 36px;
  left: 348px;
  opacity: 1;
  display: none;
}

#game-meet-task-panel .full-image-div-roomItemLeinwand01Hidden {
  background-image: url(../images/items/roomItemLeinwand01Hidden.png);
  background-size: 200px;
  height: 114px;
}

.room-item-tesa-hidden-01 {
  background-image: url(../images/items/roomItemTesaHidden01.png);
  background-size: 20px;
  top: 125px;
  left: 527px;
}

#game-item-container div[data-item-id="roomItemTesaHidden01"] {
  background-image: url(../images/items/roomItemTesaHidden01.png);
  background-size: 55px;
  background-position-y: -3px;
  background-position-x: -2px;
}

#game-meet-task-panel .full-image-div-roomItemTesaHidden01 {
  background-image: url(../images/items/roomItemTesaHidden01.png);
  background-size: 200px;
  background-position-y: -52px;
  height: 114px;
}

.room-item-gedichtebuch-hidden-01 {
  background-image: url(../images/items/roomItemGedichtebuchHidden01.png);
  background-size: 22px;
  top: 95px;
  left: 67px;
  transform: rotate(-369deg);
}

#game-item-container div[data-item-id="roomItemGedichtebuchHidden01"] {
  background-image: url(../images/items/roomItemGedichtebuchHidden01.png);
  background-size: 60px;
}

#game-meet-task-panel .full-image-div-roomItemGedichtebuchHidden01 {
  background-image: url(../images/items/roomItemGedichtebuchHidden01.png);
  background-size: 250px;
  background-position-y: -89px;
  height: 114px;
}

.room-item-gemuese-hidden-01 {
  background-image: url(../images/items/roomItemGemueseHidden01.png);
  background-size: 40px;
  top: 71px;
  left: 544px;
}

#game-meet-task-panel .full-image-div-roomItemGemueseHidden01 {
  background-image: url(../images/items/roomItemGemueseHidden01.png);
  background-size: 255px;
  background-position-y: -89px;
  height: 150px;
}

#game-item-container div[data-item-id="roomItemGemueseHidden02"] {
  background-image: url(../images/items/roomItemGemueseHidden02.png);
  background-size: 80px;
  background-position-x: -14px;
  background-position-y: -33px;
}

#game-meet-task-panel .full-image-div-roomItemGemueseHidden02 {
  background-image: url(../images/items/roomItemGemueseHidden02.png);
  background-size: 255px;
  background-position-y: -130px;
  height: 102px;
}

#game-item-container div[data-item-id="roomItemGemueseHidden02"][data-item-state="-zitrone-"] {
  background-image: url(../images/items/roomItemGemueseHidden02Lemon.png);
  background-size: 138px;
  background-position-x: -47px;
  background-position-y: -57px;
}

#game-meet-task-panel .full-image-div-roomItemGemueseHidden02Lemon {
  background-image: url(../images/items/roomItemGemueseHidden02Lemon.png);
  background-size: 255px;
  background-position-y: -106px;
  height: 102px;
}

body #game-item-container div[data-item-id="roomItemGemueseHidden02"][data-item-state="-zitrone-"][data-combined-item-id="roomItemGemueseHidden02"] {
  background-image: url(../images/items/roomItemGemueseHidden02LemonCuted.png);
  background-size: 126px;
  background-position-x: -38px;
  background-position-y: -42px;
}

#game-meet-task-panel .full-image-div-roomItemGemueseHidden02LemonCuted {
  background-image: url(../images/items/roomItemGemueseHidden02LemonCuted.png);
  background-size: 255px;
  background-position-y: -85px;
  height: 114px;
}

.room-item-gewuerze-hidden-01 {
  background-image: url(../images/items/roomItemGewuerzeHidden01.png);
  background-size: 20px;
  top: 93px;
  left: 237px;
}

#game-item-container div[data-item-id="roomItemGewuerzeHidden01"] {
  background-image: url(../images/items/roomItemGewuerzeHidden01.png);
  background-size: 114px;
  background-position-x: -33px;
  background-position-y: -39px;
}

#game-meet-task-panel .full-image-div-roomItemGewuerzeHidden01 {
  background-image: url(../images/items/roomItemGewuerzeHidden01.png);
  background-size: 283px;
  background-position-y: -89px;
  height: 150px;
}

.room-item-kleister-hidden-01 {
  background-image: url(../images/items/roomItemKleisterHidden01.png);
  background-size: 34px;
  top: 111px;
  left: 547px;
}

#game-item-container div[data-item-id="roomItemKleisterHidden01"] {
  background-image: url(../images/items/roomItemKleisterHidden01.png);
  background-size: 90px;
  background-position-x: -22px;
  background-position-y: -21px;
}

#game-meet-task-panel .full-image-div-roomItemKleisterHidden01 {
  background-image: url(../images/items/roomItemKleisterHidden01.png);
  background-size: 283px;
  background-position-y: -72px;
  height: 161px;
}

.room-item-herd-hidden-01 {
  background-image: url(../images/items/roomItemHerdHidden01.png);
  background-size: 151px;
  width: 80px;
  height: 77px;
  top: 117px;
  left: 114px;
}

#game-meet-task-panel .full-image-div-roomItemHerdHidden01 {
  background-image: url(../images/items/roomItemHerdHidden01.png);
  background-size: 283px;
  height: 166px;
}

.room-item-topf-hidden-01 {
  background-image: url(../images/items/roomItemTopfHidden01.png);
  background-size: 35px;
  top: 95px;
  left: 156px;
  opacity: 0.9;
}

#game-meet-task-panel .full-image-div-roomItemTopfHidden01 {
  background-image: url(../images/items/roomItemTopfHidden01.png);
  background-size: 283px;
  background-position-y: -100px;
  height: 161px;
}

#game-item-container div[data-item-id="roomItemGerichtHidden01"] {
  background-image: url(../images/items/roomItemGerichtHidden01.png);
  background-size: 93px;
  background-position-x: -21px;
  background-position-y: -22px;
}

#game-meet-task-panel .full-image-div-roomItemGerichtHidden01 {
  background-image: url(../images/items/roomItemGerichtHidden01.png);
  background-size: 300px;
  background-position-y: -109px;
  height: 107px;
}

.room-item-bild-hidden-01 {
  background-image: url(../images/items/roomItemBildHidden01.png);
  background-size: 40px;
  top: 82px;
  left: 265px;
  opacity: 1;
  z-index: 2001; 
}

#game-item-container div[data-item-id="roomItemBildHidden01"] {
  background-image: url(../images/items/roomItemBildHidden01.png);
  background-size: 59px;
}

#game-meet-task-panel .full-image-div-roomItemBildHidden01 {
  background-image: url(../images/items/roomItemBildHidden01.png);
  background-size: 212px;
  height: 200px;
}

.room-item-waschbecken-hidden-01 {
  background-image: url(../images/items/roomItemWaschbeckenHidden01.png);
  background-size: 22px;
  top: 131px;
  left: 292px;
  opacity: 0;
}

#game-meet-task-panel .full-image-div-roomItemWaschbeckenHidden01 {
  background-image: url(../images/items/roomItemWaschbeckenHidden01.png);
  background-size: 240px;
  background-position-y: -9px;
  height: 205px;
}

#game-meet-task-panel .full-image-div-roomItemWaschbeckenHidden01Empty {
  background-image: url(../images/items/roomItemWaschbeckenHidden01Empty.png);
  background-size: 240px;
  background-position-y: -25px;
  height: 205px;
}

.room-item-zange-hidden-01 {
  background-image: url(../images/items/roomItemZangeHidden01.png);
  background-size: 22px;
  top: 143px;
  left: 150px;
  opacity: 0.3;
}

#game-item-container div[data-item-id="roomItemZangeHidden01"] {
  background-image: url(../images/items/roomItemZangeHidden01.png);
  background-size: 55px;
  background-position-y: -2px;
}

#game-meet-task-panel .full-image-div-roomItemZangeHidden01 {
  background-image: url(../images/items/roomItemZangeHidden01.png);
  background-size: 212px;
  background-position-y: -27px;
  height: 180px;
}

#game-item-container div[data-item-id="roomItemKeyHidden02"] {
  background-image: url(../images/items/roomItemKeyHidden02.png);
  background-size: 85px;
}

#game-meet-task-panel .full-image-div-roomItemKeyHidden02 {
  background-image: url(../images/items/roomItemKeyHidden02.png);
  background-size: 212px;
  background-position-y: -63px;
  height: 110px;
}

.room-item-door-opener-hidden-01 {
  background-image: url(../images/items/roomItemDoorOpenerHidden01.png);
  background-size: 12px;
  top: 88px;
  left: 53px;
  opacity: 0.6;
}

#game-meet-task-panel .full-image-div-roomItemDoorOpenerHidden01 {
  background-image: url(../images/items/roomItemDoorOpenerHidden01.png);
  background-size: 181px;
  height: 161px;
}

.room-item-leiste-hidden-01 {
  background-image: url(../images/items/roomItemLeisteHidden01.png);
  background-size: 33px;
  top: 73px;
  left: 150px;
  opacity: 0.5; 
}

#game-item-container div[data-item-id="roomItemLeisteHidden01"] {
  background-image: url(../images/items/roomItemLeisteHidden01.png);
  background-size: 75px;
  background-position-y: 0px;
}

#game-meet-task-panel .full-image-div-roomItemLeisteHidden01 {
  background-image: url(../images/items/roomItemLeisteHidden01.png);
  background-size: 181px;
  height: 161px;
}

.room-item-nageleisen-hidden-01 {
  background-image: url(../images/items/roomItemNageleisenHidden01.png);
  background-size: 24px;
  top: 173px;
  left: 85px;
  opacity: 0.5;
  transform: rotate(19deg); 
}

#game-item-container div[data-item-id="roomItemNageleisenHidden01"] {
  background-image: url(../images/items/roomItemNageleisenHidden01.png);
  background-size: 55px;
}

#game-meet-task-panel .full-image-div-roomItemNageleisenHidden01 {
  background-image: url(../images/items/roomItemNageleisenHidden01.png);
  background-size: 145px;
  height: 161px;
}

.room-item-matte-hidden-01 {
  background-image: url(../images/items/roomItemMatteHidden01.png);
  background-size: 32px;
  top: 150px;
  left: 125px;
  opacity: 0;
}

#game-meet-task-panel .full-image-div-roomItemMatteHidden01 {
  background-image: url(../images/items/roomItemMatteHidden01.png);
  background-size: 300px;
  background-position-y: -190px;
  height: 91px;  
}

#game-item-container div[data-item-id="roomItemCoinHidden01"] {
  background-image: url(../images/items/roomItemCoinHidden01.png);
  background-size: 119px;
  background-position-x: -35px;
}

#game-meet-task-panel .full-image-div-roomItemCoinHidden01 {
  background-image: url(../images/items/roomItemCoinHidden01.png);
  background-size: 301px;
  background-position-y: -80px;
  height: 147px;
}

.room-item-faden-hidden-01 {
  background-image: url(../images/items/roomItemFadenHidden01.png);
  background-size: 15px;
  top: 117px;
  left: 344px;
  opacity: 0.7; 
}

#game-item-container div[data-item-id="roomItemFadenHidden01"] {
  background-image: url(../images/items/roomItemFadenHidden01.png);
  background-size: 90px;
  background-position-y: -23px;
}

#game-meet-task-panel .full-image-div-roomItemFadenHidden01 {
  background-image: url(../images/items/roomItemFadenHidden01.png);
  background-size: 301px;
  background-position-y: -80px;
  height: 165px;
}

#game-item-container div[data-item-id="roomItemAngelHidden01"] {
  background-image: url(../images/items/roomItemAngelHidden01.png);
  background-size: 55px;
  background-position-y: 1px;
}

#game-meet-task-panel .full-image-div-roomItemAngelHidden01 {
  background-image: url(../images/items/roomItemAngelHidden01.png);
  background-size: 170px;
  height: 165px;
}

.room-item-teedose-hidden-01 {
  background-image: url(../images/items/roomItemTeedoseHidden01.png);
  background-size: 15px;
  top: 101px;
  left: 205px;
  opacity: 0.1;
  width: 71px;
  height: 42px;
}

#game-item-container div[data-item-id="roomItemTeedoseHidden01"] {
  background-image: url(../images/items/roomItemTeedoseHidden01.png);
  background-size: 80px;
  background-position-y: -17px;
}

#game-meet-task-panel .full-image-div-roomItemTeedoseHidden01 {
  background-image: url(../images/items/roomItemTeedoseHidden01.png);
  background-size: 180px;
  background-position-y: -42px;
  height: 112px;  
}

.room-item-knife-hidden-01 {
  background-image: url(../images/items/roomItemKnifeHidden01.png);
  background-size: 24px;
  top: 97px;
  left: 448px;
  opacity: 0.6;   
}

#game-item-container div[data-item-id="roomItemKnifeHidden01"] {
  background-image: url(../images/items/roomItemKnifeHidden01.png);
  background-size: 65px;
  background-position-y: -8px;
  background-position-x: -6px;
}

#game-meet-task-panel .full-image-div-roomItemKnifeHidden01 {
  background-image: url(../images/items/roomItemKnifeHidden01.png);
  background-size: 180px;
  background-position-y: -8px;
  height: 165px; 
}

#game-item-container div[data-item-id="roomItemSchriftrolleHidden01"] {
  background-image: url(../images/items/roomItemSchriftrolleHidden01.png);
  background-size: 55px;
}

#game-meet-task-panel .full-image-div-roomItemSchriftrolleHidden01 {
  background-image: url(../images/items/roomItemSchriftrolleHidden01.png);
  background-size: 180px;
  background-position-y: -8px;
  height: 165px; 
}

#game-item-container div[data-item-id="roomItemSchriftrolleHidden01"][data-item-state="open"] {
  background-image: url(../images/items/roomItemSchriftrolleHidden01OpenSecret.png);
  background-size: 65px;
}

#game-meet-task-panel .full-image-div-roomItemSchriftrolleHidden01OpenSecret {
  background-image: url(../images/items/roomItemSchriftrolleHidden01OpenSecret.png);
  background-size: 200px;
  background-position-y: -20px;
  height: 165px;
}

#game-item-container div[data-item-id="roomItemSchriftrolleHidden01"][data-combined-item-id="roomItemSchriftrolleHidden01"] {
  background-image: url(../images/items/roomItemSchriftrolleHidden01Open.png);
  background-size: 65px;
}

#game-meet-task-panel .full-image-div-roomItemSchriftrolleHidden01Open {
  background-image: url(../images/items/roomItemSchriftrolleHidden01Open.png);
  background-size: 200px;
  background-position-y: -20px;
  height: 165px;
}

.room-item-handschuhe-hidden-01 {
  background-image: url(../images/items/roomItemHandschuheHidden01.png);
  background-size: 13px;
  top: 97px;
  left: 252px;
  opacity: 0.5;
}

#game-item-container div[data-item-id="roomItemHandschuheHidden01"] {
  background-image: url(../images/items/roomItemHandschuheHidden01.png);
  background-size: 72px;
  background-position-y: -8px;
  background-position-x: -10px;
}

#game-meet-task-panel .full-image-div-roomItemHandschuheHidden01 {
  background-image: url(../images/items/roomItemHandschuheHidden01.png);
  background-size: 220px;
  background-position-y: -31px;
  height: 165px;
}

.room-item-pinzette-hidden-01 {
  background-image: url(../images/items/roomItemPinzetteHidden01.png);
  background-size: 24px;
  top: 77px;
  left: 463px;
  opacity: 0.3;
  transform: rotate(-97deg); 
}

#game-item-container div[data-item-id="roomItemPinzetteHidden01"] {
  background-image: url(../images/items/roomItemPinzetteHidden01.png);
  background-size: 60px;
  background-position-y: -8px;
}

#game-meet-task-panel .full-image-div-roomItemPinzetteHidden01 {
  background-image: url(../images/items/roomItemPinzetteHidden01.png);
  background-size: 215px;
  background-position-y: -77px;
  height: 80px;
}

.room-item-chefin-hidden-01 {
  background-image: url(../images/items/roomItemChefinHidden01.png);
  background-size: 45px;
  top: 90px;
  left: 279px;
  opacity: 1;
  height: 60px;
  width: 60px;   
}

.room-item-chefin-hidden-01[data-item-state="essen"] {
  display: none;
}

#game-meet-task-panel .full-image-div-roomItemChefinHidden01 {
  background-image: url(../images/items/roomItemChefinHidden01.png);
  background-size: 157px;
  background-position-y: 3px;
  height: 165px;
}

.room-item-tuer-hidden-01 {
  background-image: url(../images/items/roomItemTuerHidden01.png);
  background-size: 130px;
  top: 75px;
  left: 454px;
  opacity: 1;
  height: 90px;
  width: 55px;   
}

#game-meet-task-panel .full-image-div-roomItemTuerHidden01 {
  background-image: url(../images/items/roomItemTuerHidden01.png);
  background-size: 226px;
  background-position-y: -35px;
  height: 165px;
}

.room-item-platz-chefin-hidden-01 {
  background-image: url(../images/items/roomItemPlatzChefinHidden01.png);
  background-size: 38px;
  top: 102px;
  left: 46px;
  opacity: 0;
}

#game-meet-task-panel .full-image-div-roomItemPlatzChefinHidden01 {
  background-image: url(../images/items/roomItemPlatzChefinHidden01.png);
  background-size: 244px;
  background-position-y: -50px;
  height: 165px;
}

#game-meet-task-panel .full-image-div-roomItemPlatzChefinHidden01Essen {
  background-image: url(../images/items/roomItemGerichtHidden01.png);
  background-size: 244px;
  background-position-y: -80px;
  height: 100px;
}

.room-item-bestellung-hidden-01 {
  background-image: url(../images/items/roomItemBestellungHidden01.png);
  background-size: 10px;
  top: 108px;
  left: 85px;
  opacity: 0.6;
  transform: rotate(-36deg);
  width: 10px;
  height: 10px; 
}

#game-item-container div[data-item-id="roomItemBestellungHidden01"] {
  background-image: url(../images/items/roomItemBestellungHidden01.png);
  background-size: 52px;
}

#game-meet-task-panel .full-image-div-roomItemBestellungHidden01 {
  background-image: url(../images/items/roomItemBestellungHidden01.png);
  background-size: 246px;
  height: 153px;
}

.room-item-schalter-hidden-01 {
  background-image: url(../images/items/roomItemSchalterHidden01.png);
  background-size: 10px;
  top: 102px;
  left: 574px;
  opacity: 0.7;
}

#game-meet-task-panel .full-image-div-roomItemSchalterHidden01 {
  background-image: url(../images/items/roomItemSchalterHidden01.png);
  background-size: 180px;
  height: 153px;
}

.room-item-kassette-hidden-01 {
  background-image: url(../images/items/roomItemKassetteHidden01.png);
  background-size: 25px;
  top: 102px;
  left: 273px;
  opacity: 0.7;
  display: none;
}

.room-item-kassette-hidden-01[data-item-state="visible"] {
  display: block;
}

#game-item-container div[data-item-id="roomItemKassetteHidden01"] {
  background-image: url(../images/items/roomItemKassetteHidden01.png);
  background-size: 52px;
}

#game-meet-task-panel .full-image-div-roomItemKassetteHidden01 {
  background-image: url(../images/items/roomItemKassetteHidden01.png);
  background-size: 196px;
  background-position-y: -58px;
  height: 94px;
}

.room-item-monitor-hidden-01 {
  background-image: url(../images/items/roomItemMonitorHidden01.png);
  background-size: 200px;
  top: 100px;
  left: 68px;
  opacity: 0;
  width: 63px;
}

#game-meet-task-panel .full-image-div-roomItemMonitorHidden01 {
  background-image: url(../images/items/roomItemMonitorHidden01.png);
  background-size: 286px;
  background-position-y: -85px;
  height: 166px;
}

.room-item-monitor-hidden-02 {
  background-image: url(../images/items/roomItemMonitorHidden02.png);
  background-size: 100px;
  top: 89px;
  left: 211px;
  opacity: 0;
}

#game-meet-task-panel .full-image-div-roomItemMonitorHidden02 {
  background-image: url(../images/items/roomItemMonitorHidden02.png);
  background-size: 286px;
  background-position-y: -85px;
  height: 166px;
}

.room-item-monitor-hidden-03 {
  background-image: url(../images/items/roomItemMonitorHidden03.png);
  background-size: 61px;
  top: 80px;
  left: 314px;
  opacity: 0; 
}

#game-meet-task-panel .full-image-div-roomItemMonitorHidden03 {
  background-image: url(../images/items/roomItemMonitorHidden03.png);
  background-size: 286px;
  background-position-y: -85px;
  height: 166px;
}

.room-item-monitor-hidden-04 {
  background-image: url(../images/items/roomItemMonitorHidden04.png);
  background-size: 60px;
  top: 78px;
  left: 358px;
  opacity: 0; 
}

#game-meet-task-panel .full-image-div-roomItemMonitorHidden04 {
  background-image: url(../images/items/roomItemMonitorHidden04.png);
  background-size: 286px;
  background-position-y: -85px;
  height: 166px;
}

.room-item-monitor-hidden-05 {
  background-image: url(../images/items/roomItemMonitorHidden05.png);
  background-size: 68px;
  top: 91px;
  left: 432px;
  opacity: 0;  
}

#game-meet-task-panel .full-image-div-roomItemMonitorHidden05 {
  background-image: url(../images/items/roomItemMonitorHidden05.png);
  background-size: 286px;
  background-position-y: -85px;
  height: 166px;
}

.room-item-monitor-hidden-06 {
  background-image: url(../images/items/roomItemMonitorHidden06.png);
  background-size: 55px;
  top: 89px;
  left: 476px;
  opacity: 0;
}

#game-meet-task-panel .full-image-div-roomItemMonitorHidden06 {
  background-image: url(../images/items/roomItemMonitorHidden06.png);
  background-size: 286px;
  background-position-y: -85px;
  height: 166px;
}

.room-item-pacman-hidden-01 {
  background-image: url(../images/items/roomItemFakeHidden01.png);
  top: 107px;
  left: 15px;
  width: 50px;
  opacity: 0;
}

.room-item-tetris-hidden-01 {
  background-image: url(../images/items/roomItemFakeHidden01.png);
  top: 107px;
  left: 80px;
  width: 50px;
  opacity: 0;
}

.room-item-snake-hidden-01 {
  background-image: url(../images/items/roomItemFakeHidden01.png);
  top: 107px;
  left: 135px;
  width: 30px;
  opacity: 0;
}

.room-item-brakeout-hidden-01 {
  background-image: url(../images/items/roomItemFakeHidden01.png);
  top: 107px;
  left: 171px;
  width: 25px;
  opacity: 0;
}











/* ######################## Special Styles ######################## */
#canvas {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
}

canvas#game[aria-label="Breakout board"] {
  width: 450px !important;
}

canvas#game,
canvas#board {
  margin-top: 10px;
  margin-bottom: 0px;  
}

.roomItemBrakeoutHidden01-container .navigation-table,
.roomItemSnakeHidden01-container .navigation-table,
.roomItemTetrisHidden01-container .navigation-table,
.pacman-the-game .navigation-table {
  margin-left: 218px;
  margin-top: -7px;
}

.room-item-leinwand-hidden-01[data-item-state="on"] {
  display: block !important;
}

.roomItemGemueseHidden01Checkboxes {
  width: 120px !important;
  text-align: left;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;  
}

.roomItemSteckbriefHidden01_mastWanted {
  width: 120px !important;
  margin: 0 auto;
  padding-top: 45px;
  position: relative;
}

.roomItemSteckbriefHidden01_mastWanted img {
  width: 60px !important;
  margin-left: -1px !important;
}

.roomItemSteckbriefHidden01_mastWanted h2 {
  font-size: 10px !important;
  color: #000 !important;
}

.roomItemSteckbriefHidden01_mastWanted p {
  font-size: 4px !important;
  color: #000 !important;
  margin-top: -2px !important;
}

.blurRoomImage,
#message-text-private.blurRoomImage p,
#message-text-public.blurRoomImage p,
#game-item-container.blurRoomImage .game-item,
#game-room-presentation-image-div.blurRoomImage .game-hidden-room-item {
  filter: blur(4px) saturate(1.5);
}
