body .mt-1 { margin-top: 1px; }
body .mt-2 { margin-top: 2px; }
body .mt-3 { margin-top: 3px; }
body .mt-4 { margin-top: 4px; }
body .mt-5 { margin-top: 5px; }
body .mt-6 { margin-top: 6px; }
body .mt-7 { margin-top: 7px; }
body .mt-8 { margin-top: 8px; }
body .mt-9 { margin-top: 9px; }
body .mt-10 { margin-top: 10px; }
body .mt-15 { margin-top: 15px; }
body .mt-20 { margin-top: 20px; }
body .mt-25 { margin-top: 25px; }
body .mt-35 { margin-top: 35px; }
body .mt-40 { margin-top: 40px; }
body .mt-45 { margin-top: 45px; }
body .mt-50 { margin-top: 50px; }

body .mb-1 { margin-bottom: 1px; }
body .mb-2 { margin-bottom: 2px; }
body .mb-3 { margin-bottom: 3px; }
body .mb-4 { margin-bottom: 4px; }
body .mb-5 { margin-bottom: 5px; }
body .mb-6 { margin-bottom: 6px; }
body .mb-7 { margin-bottom: 7px; }
body .mb-8 { margin-bottom: 8px; }
body .mb-9 { margin-bottom: 9px; }
body .mb-10 { margin-bottom: 10px; }
body .mb-15 { margin-bottom: 15px; }
body .mb-20 { margin-bottom: 20px; }
body .mb-25 { margin-bottom: 25px; }
body .mb-35 { margin-bottom: 35px; }
body .mb-40 { margin-bottom: 40px; }
body .mb-45 { margin-bottom: 45px; }
body .mb-50 { margin-bottom: 50px; }

body .ml-1 { margin-left: 1px; }
body .ml-2 { margin-left: 2px; }
body .ml-3 { margin-left: 3px; }
body .ml-4 { margin-left: 4px; }
body .ml-5 { margin-left: 5px; }
body .ml-6 { margin-left: 6px; }
body .ml-7 { margin-left: 7px; }
body .ml-8 { margin-left: 8px; }
body .ml-9 { margin-left: 9px; }
body .ml-10 { margin-left: 10px; }
body .ml-15 { margin-left: 15px; }
body .ml-20 { margin-left: 20px; }
body .ml-25 { margin-left: 25px; }
body .ml-35 { margin-left: 35px; }
body .ml-40 { margin-left: 40px; }
body .ml-45 { margin-left: 45px; }
body .ml-50 { margin-left: 50px; }

body .mr-1 { margin-right: 1px; }
body .mr-2 { margin-right: 2px; }
body .mr-3 { margin-right: 3px; }
body .mr-4 { margin-right: 4px; }
body .mr-5 { margin-right: 5px; }
body .mr-6 { margin-right: 6px; }
body .mr-7 { margin-right: 7px; }
body .mr-8 { margin-right: 8px; }
body .mr-9 { margin-right: 9px; }
body .mr-10 { margin-right: 10px; }
body .mr-15 { margin-right: 15px; }
body .mr-20 { margin-right: 20px; }
body .mr-25 { margin-right: 25px; }
body .mr-35 { margin-right: 35px; }
body .mr-40 { margin-right: 40px; }
body .mr-45 { margin-right: 45px; }
body .mr-50 { margin-right: 50px; }

body .pt-1 { padding-top: 1px; }
body .pt-2 { padding-top: 2px; }
body .pt-3 { padding-top: 3px; }
body .pt-4 { padding-top: 4px; }
body .pt-5 { padding-top: 5px; }
body .pt-6 { padding-top: 6px; }
body .pt-7 { padding-top: 7px; }
body .pt-8 { padding-top: 8px; }
body .pt-9 { padding-top: 9px; }
body .pt-10 { padding-top: 10px; }
body .pt-15 { padding-top: 15px; }
body .pt-20 { padding-top: 20px; }
body .pt-25 { padding-top: 25px; }
body .pt-35 { padding-top: 35px; }
body .pt-40 { padding-top: 40px; }
body .pt-45 { padding-top: 45px; }
body .pt-50 { padding-top: 50px; }

body .pb-1 { padding-bottom: 1px; }
body .pb-2 { padding-bottom: 2px; }
body .pb-3 { padding-bottom: 3px; }
body .pb-4 { padding-bottom: 4px; }
body .pb-5 { padding-bottom: 5px; }
body .pb-6 { padding-bottom: 6px; }
body .pb-7 { padding-bottom: 7px; }
body .pb-8 { padding-bottom: 8px; }
body .pb-9 { padding-bottom: 9px; }
body .pb-10 { padding-bottom: 10px; }
body .pb-15 { padding-bottom: 15px; }
body .pb-20 { padding-bottom: 20px; }
body .pb-25 { padding-bottom: 25px; }
body .pb-35 { padding-bottom: 35px; }
body .pb-40 { padding-bottom: 40px; }
body .pb-45 { padding-bottom: 45px; }
body .pb-50 { padding-bottom: 50px; }

body .pl-1 { padding-left: 1px; }
body .pl-2 { padding-left: 2px; }
body .pl-3 { padding-left: 3px; }
body .pl-4 { padding-left: 4px; }
body .pl-5 { padding-left: 5px; }
body .pl-6 { padding-left: 6px; }
body .pl-7 { padding-left: 7px; }
body .pl-8 { padding-left: 8px; }
body .pl-9 { padding-left: 9px; }
body .pl-10 { padding-left: 10px; }
body .pl-15 { padding-left: 15px; }
body .pl-20 { padding-left: 20px; }
body .pl-25 { padding-left: 25px; }
body .pl-35 { padding-left: 35px; }
body .pl-40 { padding-left: 40px; }
body .pl-45 { padding-left: 45px; }
body .pl-50 { padding-left: 50px; }

body .pr-1 { padding-right: 1px; }
body .pr-2 { padding-right: 2px; }
body .pr-3 { padding-right: 3px; }
body .pr-4 { padding-right: 4px; }
body .pr-5 { padding-right: 5px; }
body .pr-6 { padding-right: 6px; }
body .pr-7 { padding-right: 7px; }
body .pr-8 { padding-right: 8px; }
body .pr-9 { padding-right: 9px; }
body .pr-10 { padding-right: 10px; }
body .pr-15 { padding-right: 15px; }
body .pr-20 { padding-right: 20px; }
body .pr-25 { padding-right: 25px; }
body .pr-35 { padding-right: 35px; }
body .pr-40 { padding-right: 40px; }
body .pr-45 { padding-right: 45px; }
body .pr-50 { padding-right: 50px; }

body .w-10 { width: 10px; }
body .w-20 { width: 20px; }
body .w-30 { width: 30px; }
body .w-40 { width: 40px; }
body .w-50 { width: 50px; }
body .w-60 { width: 60px; }
body .w-70 { width: 70px; }
body .w-80 { width: 80px; }
body .w-90 { width: 90px; }
body .w-100 { width: 100px; }
body .w-120 { width: 120px; }
body .w-140 { width: 140px; }
body .w-160 { width: 160px; }
body .w-170 { width: 170px; }
body .w-180 { width: 180px; }
body .w-200 { width: 200px; }
body .w-220 { width: 220px; }
body .w-240 { width: 240px; }
body .w-260 { width: 260px; }
body .w-280 { width: 280px; }
body .w-300 { width: 300px; }
body .w-350 { width: 350px; }
body .w-375 { width: 375px; }
body .w-100p { width: 100%; }

body .minw-10 { min-width: 10px; }
body .minw-20 { min-width: 20px; }
body .minw-30 { min-width: 30px; }
body .minw-40 { min-width: 40px; }
body .minw-50 { min-width: 50px; }
body .minw-60 { min-width: 60px; }
body .minw-70 { min-width: 70px; }
body .minw-80 { min-width: 80px; }
body .minw-90 { min-width: 90px; }
body .minw-100 { min-width: 100px; }
body .minw-120 { min-width: 120px; }
body .minw-140 { min-width: 140px; }
body .minw-160 { min-width: 160px; }
body .minw-180 { min-width: 170px; }
body .minw-200 { min-width: 200px; }
body .minw-220 { min-width: 220px; }
body .minw-240 { min-width: 240px; }
body .minw-260 { min-width: 260px; }
body .minw-280 { min-width: 280px; }
body .minw-300 { min-width: 300px; }

body .h-10 { height: 10px; }
body .h-20 { height: 20px; }
body .h-30 { height: 30px; }
body .h-40 { height: 40px; }
body .h-50 { height: 50px; }
body .h-60 { height: 60px; }
body .h-70 { height: 70px; }
body .h-80 { height: 80px; }
body .h-90 { height: 90px; }
body .h-100 { height: 100px; }
body .h-120 { height: 120px; }
body .h-140 { height: 140px; }
body .h-160 { height: 160px; }
body .h-180 { height: 170px; }
body .h-200 { height: 200px; }
body .h-220 { height: 220px; }
body .h-240 { height: 240px; }
body .h-260 { height: 260px; }
body .h-280 { height: 280px; }
body .h-300 { height: 300px; }

body .minh-10 { min-height: 10px; }
body .minh-20 { min-height: 20px; }
body .minh-30 { min-height: 30px; }
body .minh-40 { min-height: 40px; }
body .minh-50 { min-height: 50px; }
body .minh-60 { min-height: 60px; }
body .minh-70 { min-height: 70px; }
body .minh-80 { min-height: 80px; }
body .minh-90 { min-height: 90px; }
body .minh-100 { min-height: 100px; }
body .minh-120 { min-height: 120px; }
body .minh-140 { min-height: 140px; }
body .minh-160 { min-height: 160px; }
body .minh-180 { min-height: 170px; }
body .minh-200 { min-height: 200px; }
body .minh-220 { min-height: 220px; }
body .minh-240 { min-height: 240px; }
body .minh-260 { min-height: 260px; }
body .minh-280 { min-height: 280px; }
body .minh-300 { min-height: 300px; }

