/* Orbitron */
@font-face {
  font-display: swap;
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: url('../css/fonts/orbitron-v35-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 500;
  src: url('../css/fonts/orbitron-v35-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 600;
  src: url('../css/fonts/orbitron-v35-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  src: url('../css/fonts/orbitron-v35-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 800;
  src: url('../css/fonts/orbitron-v35-latin-800.woff2') format('woff2');
}

/* Roboto Condensed */
@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 100;
  src: url('../css/fonts/roboto-condensed-v31-latin-100.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 200;
  src: url('../css/fonts/roboto-condensed-v31-latin-200.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('../css/fonts/roboto-condensed-v31-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../css/fonts/roboto-condensed-v31-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 500;
  src: url('../css/fonts/roboto-condensed-v31-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 600;
  src: url('../css/fonts/roboto-condensed-v31-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../css/fonts/roboto-condensed-v31-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 800;
  src: url('../css/fonts/roboto-condensed-v31-latin-800.woff2') format('woff2');
}

@keyframes pulseContainer {
  0% { box-shadow:0 0 4px var(--pulseColorContainerBright); }
  50% { box-shadow:0 0 14px var(--pulseColorContainerDark); }
  100% { box-shadow:0 0 4px var(--pulseColorContainerBright); }
}

@keyframes pulseContainerReverse {
  0% { box-shadow:0 0 14px var(--pulseColorContainerDark); }
  50% { box-shadow:0 0 4px var(--pulseColorContainerBright); }
  100% { box-shadow:0 0 14px var(--pulseColorContainerDark); }
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed" !important;
  font-weight: 300;
  background-color: var(--backgroundColorBody);
  text-align: center;
  color: var(--textColorContent);
}

.concept-rules-tips h3,
h2,
h1 {
  font-family: Orbitron;
  text-transform: uppercase;
}

h1 {
  padding-left: 28px;
  content: " ";
  background-image: url(../images/favicons/friendshunt-app-icon-32x32.png);
  height: 28px;
  background-size: 26px;
  background-position-y: 0px;
  background-position-x: -3px;
  background-repeat: no-repeat;
}

.concept-rules-tips h3,
h2 {
  top: 4px;
  position: relative;
  text-transform: uppercase;
  scroll-margin-top: 10px;
}

ul {
  padding-left: 20px;
  text-align: left;
}

li {
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="datetime-local"],
input[type="password"] {
  width: 555px !important;
}

select {
  width: 580px !important;
}

textarea {
  width: 554px !important;
}

a {
  text-decoration: none;
  color: var(--textColorLink);
}

button {
  font-family: "Roboto Condensed";
  text-transform: uppercase;
  box-shadow: 0 4px 12px var(--boxShadowColor);
  opacity: 1;
  transition: opacity 0.3s;
  transition: transform 0.2s;
}

button:not(:disabled):hover {
  opacity: 0.85;
}

button:not(:disabled):active {
  transform: scale(0.95);
}

.background-alternate {
  background-color: var(--backgroundColorContentAlternate);
}

.content {
  width: 600px;
  margin: 0 auto;
  background-color: var(--backgroundColorContent);
  min-height: 3000px;
}

.pulse-container {
  animation: pulseContainer 6s infinite;
}

.pulse-container-reverse {
  animation: pulseContainerReverse 6s infinite;
}

.pulse-container-slow {
  animation: pulseContainer 10s infinite;
}

.pulse-container-reverse-slow {
  animation: pulseContainerReverse 10s infinite;
}

@media screen and (max-width: 650px) {
  body .content {
    width: 400px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 4px;
    height: unset;
  }

  body .game-menu-bottom,
  body .game-menu-top {
    width: 380px;
    left: calc(50% - 186px);
  }

  body .login-box {
    width: 380px;
  }

  body .setup-info-container {
    width: 265px;
  }

  body input[type="text"],
  body input[type="email"],
  body input[type="number"],
  body input[type="datetime-local"],
  body input[type="password"] {
    width: 350px !important;
  }

  body select {
    width: 377px !important;
  }

  body textarea {
    width: 351px !important;
  }

  body .login-box textarea,
  body .login-box input {
    width: 250px !important;
  }

  body #info-layer-map {
    width: 400px;
  }

  body .player-dashboard-container {
    grid-template-columns: repeat(2, 1fr);
  }

  body .card-mobile-full {
    grid-column: span 2;
  }

}

.first-child::before {
  background: none !important;
}

#game-system-message-container::before,
#game-capture-container::before,
#game-message-layer::before,
.game-permission-pedometer::before,
.card::before,
.content-container::before,
.replay-panel::before,
.game-menu-bottom::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 10%;
  right: 10%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--backgroundColorStripe), transparent);
  opacity: 0.4;
}

#game-system-message-container::after,
#game-capture-container::after,
#game-message-layer::after,
.game-permission-pedometer::after,
.card::after,
.content-container::after,
.replay-panel::after,
.game-menu-top::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 10%;
  right: 10%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--backgroundColorStripe), transparent);
  opacity: 0.4;
}

.card td {
  padding-top: 1px;
  padding-bottom: 1px;
}

.card table {
  border-collapse: collapse;
}

.card th {
  padding-top: 1px;
  padding-bottom: 5px;
  color: var(--cardHeadlineColor);
  font-weight: 400 !important;
}

.card thead th {
  border-bottom: 2px solid var(--borderColor);
}

.card tfoot th {
  border-top: 2px solid var(--borderColor);
}

.card {
  position: relative;
  background-color: var(--backgroundColorContentContainer);
  border: 1px solid var(--borderColor);
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 4px 12px var(--boxShadowColor);
}

.card-content-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.card-full {
  grid-column: span 3;
}

.card-title {
  font-family: var(--font-tactical);
  font-size: 15px;
  text-transform: uppercase;
  color: var(--cardHeadlineColor);
  margin-bottom: 10px;
  border-bottom: 1px solid var(--borderColor);
  padding-bottom: 5px;
  text-wrap: nowrap;
}

.player-dashboard-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 0px;
  max-width: 650px;
  margin: 0 auto;
}

#info-layer-map {
  position: fixed;
  top: 0px;
  background-color: var(--backgroundColorContent);
  width: 600px;
  height: 200px;
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
}

#info-layer-map #map {
  border-radius: 8px;
  height: 100%;
}

#info-layer-map-close-button {
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 3000;
  color: #000000;
  opacity: 0.7;
  cursor: pointer;
  z-index: 3000;
}

.icon-svg-lens {
  display: inline-block;
  position: relative;
  top: 5px;
}

.content-container {
  background-color: var(--backgroundColorContentContainer);
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--borderColor);
  box-shadow: 0 4px 12px var(--boxShadowColor);
  position: relative;
}

body .content-container.first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-style: none;
  border-top-width: 0px;
}

.friendshunt-login-logo {
  width: 150px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.login-box textarea,
.login-box input {
  width: 300px !important;
}

.spacer-login-top {
  display: flex;
  justify-content: center; /* Zentriert horizontal */
  align-items: center;     /* Zentriert vertikal */
  min-height: 100dvh;
  max-height: 100dvh;
}

.login-box {
  width: 580px;
}

.setup-info-container {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mode-set-points .leaflet-interactive {
  pointer-events: none !important;
  cursor: default !important;
}

.content-container p {
  padding-top: 1px;
  padding-bottom: 1px;
  color: rgb(226, 232, 240);
}

body .c-w-265 { width: 265px; }
body .c-mt-120 { margin-top: 120px; }
.c-info-table {
  width: 100%;
}

.c-info-table td {
  height: 25px;
}

.c-dashboard-player-image {
  width: 140px;
  height: 140px;
  border-radius: 4px;
}

.c-edit-player-image {
  width: 240px;
  height: 240px;
  border-radius: 4px;
}

.full-image {
  display: block;
  width: 100%;
  position: fixed;
  top: 50px;
  left: 0px;
  z-index: 30010;
}

.full-image img {
  margin: 0 auto;
  z-index: 2000;
  max-height: calc(100vh - 200px);
  max-width: 95%;
  border-radius: 15px;
}

.full-image-layer {
  z-index: 20000;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-color: #000;
  opacity: .7;
  position: fixed;
  left: 0;
  width: calc(100vw * 2);
  height: calc(100vh * 2);
  top: 0;
  display: none;
}
