* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", sans-serif, arial !important;
  background-color: var(--backgroundColorBody);
  text-align: center;
  color: var(--textColorContent);
}

a {
  text-decoration: none;
  color: var(--textColorLink);
}

.content {
  width: 600px;
  margin: 0 auto;
  background-color: var(--backgroundColorContent);
  min-height: 3000px;
}

@media screen and (max-width: 650px) {
  body .content {
    width: 400px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 4px;
    height: unset;
  }

  body .game-menu-bottom,
  body .game-menu-top {
    width: 380px;
    left: calc(50% - 186px);
  }

  body .login-box {
    width: 380px;
  }

  body .setup-info-container {
    width: 265px;
  }

}

.content-container {
  background-color: var(--backgroundColorContentContainer);
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
}

body .content-container.first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.friendshunt-login-logo {
  width: 150px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.spacer-login-top {
  display: flex;
  justify-content: center; /* Zentriert horizontal */
  align-items: center;     /* Zentriert vertikal */
  min-height: 100dvh;
  max-height: 100dvh;
}

.login-box {
  width: 580px;
}

.setup-info-container {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
}





