* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", sans-serif, arial;
  background-color: var(--backgroundColorBody);
  text-align: center;
  color: var(--textColorContent);
}

input[type="text"],
input[type="number"],
input[type="datetime-local"],
input[type="password"] {
  width: 555px !important;
}

select {
  width: 580px !important;
}

textarea {
  width: 554px !important;
}

a {
  text-decoration: none;
  color: var(--textColorLink);
}

.background-alternate {
  background-color: var(--backgroundColorContentAlternate);
}

.content {
  width: 600px;
  margin: 0 auto;
  background-color: var(--backgroundColorContent);
  min-height: 3000px;
}

@media screen and (max-width: 650px) {
  body .content {
    width: 400px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 4px;
    height: unset;
  }

  body .game-menu-bottom,
  body .game-menu-top {
    width: 380px;
    left: calc(50% - 186px);
  }

  body .login-box {
    width: 380px;
  }

  body .setup-info-container {
    width: 265px;
  }

  body input[type="text"],
  body input[type="number"],
  body input[type="datetime-local"],
  body input[type="password"] {
    width: 350px !important;
  }

  body select {
    width: 377px !important;
  }

  body textarea {
    width: 351px !important;
  }

  body .login-box textarea,
  body .login-box input {
    width: 250px !important;
  }

  body #info-layer-map {
    width: 400px;
  }

  body .player-dashboard-container {
    grid-template-columns: repeat(2, 1fr);
  }

  body .card-mobile-full {
    grid-column: span 2;
  }

}

.card td {
  padding-top: 1px;
  padding-bottom: 1px;
}

.card table {
  border-collapse: collapse;
}

.card th {
  padding-top: 1px;
  padding-bottom: 5px;
  color: var(--cardHeadlineColor);
  font-weight: 400 !important;
}

.card thead th {
  border-bottom: 2px solid var(--border-color);
}

.card tfoot th {
  border-top: 2px solid var(--border-color);
}

.card {
  background-color: var(--backgroundColorContentContainer);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.card-content-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.card-full {
  grid-column: span 3;
}

.card-title {
  font-family: var(--font-tactical);
  font-size: 15px;
  text-transform: uppercase;
  color: var(--cardHeadlineColor);
  margin-bottom: 10px;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 5px;
  text-wrap: nowrap;
}

.player-dashboard-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 0px;
  max-width: 650px;
  margin: 0 auto;
}

#info-layer-map {
  position: fixed;
  top: 0px;
  background-color: var(--backgroundColorContent);
  width: 600px;
  height: 200px;
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
}

#info-layer-map #map {
  border-radius: 8px;
  height: 100%;
}

#info-layer-map-close-button {
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 3000;
  color: #000000;
  opacity: 0.7;
  cursor: pointer;
  z-index: 3000;
}

.icon-svg-lens {
  display: inline-block;
  position: relative;
  top: 5px;
}

.content-container {
  background-color: var(--backgroundColorContentContainer);
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--border-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

body .content-container.first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.friendshunt-login-logo {
  width: 150px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.login-box textarea,
.login-box input {
  width: 300px !important;
}

.spacer-login-top {
  display: flex;
  justify-content: center; /* Zentriert horizontal */
  align-items: center;     /* Zentriert vertikal */
  min-height: 100dvh;
  max-height: 100dvh;
}

.login-box {
  width: 580px;
}

.setup-info-container {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mode-set-points .leaflet-interactive {
  pointer-events: none !important;
  cursor: default !important;
}
