:root {
  --backgroundColorBody: #000000;
  --backgroundColorContent: #0a0d14;
  --backgroundColorContentContainer: #121824;
  --backgroundColorContentAlternate: rgb(256,256,256,0.1);

  --backgroundColorPrimary: #286090;
  --backgroundColorSuccess: #449d44;
  --backgroundColorInfo: #31b0d5;
  --backgroundColorWarning: #ec971f;
  --backgroundColorDanger: #d9534f;

  --borderColorPrimary: #204d74;
  --borderColorSuccess: #398439;
  --borderColorInfo: #269abc;
  --borderColorWarning: #d58512;
  --borderColorDanger: #d43f3a;;

  --borderColorInput: #ccc;
  --backgroundColorInput: #fff;

  --textColorContent: rgb(226, 232, 240);
  --textColorHeadline: rgb(238, 238, 238);
  --textColorLink: rgb(238, 238, 238);

  --colorInput: #555;
  --fontSizeForms: 14px;

  --cardHeadlineColor: #64748b;



  --border-color: #1f2a3f;
}